extends ../layout

block content
  main.main
    h1 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    p.
      Quas iusto laborum qui quibusdam ipsa, nesciunt ex dolorum repellendus accusantium, provident consequuntur aliquam necessitatibus.
      Pariatur facere debitis nostrum modi quod eius.
    p.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Odio corporis a molestias illum voluptas numquam alias veniam qui aut laborum doloremque, repudiandae ea sit dolorum in adipisci nam ipsum ducimus!
      Quae nam quod dicta temporibus voluptatum a deleniti veniam rerum possimus perferendis reiciendis, nobis deserunt explicabo libero odio!
      Rem facere laboriosam nesciunt nemo labore omnis numquam impedit. Numquam, quod quisquam?
      Eligendi officia nam earum delectus, ad harum rem rerum recusandae commodi, obcaecati voluptatem hic, eius autem ipsa accusamus aliquam?
      At temporibus omnis perspiciatis ratione quia, odio nobis blanditiis impedit aspernatur!