extends ../layout

block prepend head
  - pageName = "Лучший материал для строительстваа"
block title
  +page-header(pageName, [{value: "Статьи", link: "articles.html"}])
block contentBody
  block articleImage
    .article__image
      img(src=require("/src/images/content-images/arts-7.jpg"))
  .article__date 29.07.2021
  .article__body
    block articleBody
      p.
        Прежде чем обратиться в строительную компанию, многие самостоятельно выбирают место для строительства их будущего дома.
        И правильно, первое, что должен сделать будущий домовладелец, — это выбрать хорошее место для стройки.
      p.
        Однако, для того, чтобы понять, насколько место хорошее, лучше привлечь профессионалов: геологов, геодезистов,
        строителей и экспертов по недвижимости. Они проанализируют местоположение и сделают оценку.
      p.
        На что стоит обратить внимание при выборе участка для строительства — наличие хорошей воды,
        возможность подсоединения к газопроводу, допустимая мощность электричества на месте 10-15 кВт.
      h4 Как избежать ошибок при покупке земельного участка?
      ol
        li
          b Не ведитесь на рекламу.
          |
          | Запомните, цена всегда соответствует качеству. Если она очень низкая, значит что-то не так.
        li
          b Обратите внимание на инфраструктуру.
          |
          | В поселках, находящихся в отдаленных и труднодоступных местах,
          | где на 20 километров поблизости есть только один магазин, застройщик должен организовать свою инфраструктуру.
          | Не забываем о коммунальных платежах. Чем дальше от мегаполиса, тем дороже.
        li
          b Разберитесь, что такое ИЖС.
          |
          | Индивидуальное жилищное строительство (ИЖС) — вид разрешенного использования в категории «земли населенных пунктов».
        li
          b Не думайте, что выбор земли это главное.
          |
          | Очень часто продаются размежеванные по несколько соток земельные участки без дорог и коммуникаций. Проверяйте документы. Не верьте продавцам на слово.
        li
          b Разберитесь в юридических аспектах
          | , а именно, с правовым статусом земли.Есть 2 главных вида собственности на загородные участки: общее долевое имущество и индивидуальное имущество.
        li
          | Взвесить все за и против — наличия/отсутствия реки.
          | Хочется уйти из дома ранним утром и пойти на рыбалку к реке или расслабиться с семьей на озере летом?
          | Здорово, если вы будете один, ну максимум с соседом.
          | Однако, не стоит забывать, что отдых у воды популярен для жителей мегаполисов.
          | Поэтому при проживании рядом с рекой или озером вам могут мешать отдыхающие компании
          | с большим количеством мусора, который они часто оставляют после себя.
      h4 Заключение
      p Казалось бы такие нюансы стройки, даже полноценной стройкой не назвать, но не стоит пускать их на самотек.
      p Есть возможность, наведите справки, пообщайтесь с жильцами ближайших домов, съездите отдохнуть в это место несколько раз.
  block articleButton
    +back-button("Назад к списку", "articles.html")
block contentAside
  .content__aside
    +articles-nav(arts)
