extends ../layout

block prepend head
  - pageName = "Статьи"
block title
  +page-header(pageName)
block contentBody
  .cells.articles__list.cards__list.cards__list--accented1
    each item in arts
      .cell.cell-sm-6.cell-md-4.cell-xl-3.cards__item.articles__item
        .icard
          a.icard__image(class= item.pic ? "" : "no-image", href="article-item.html")
            // размер картинки 696x380
            if item.pic
              img(src= item.pic)
          .icard__body
            if item.name
              a.card__name(href="article-item-2.html")= item.name
            if item.descr
              .card__text= item.descr
  +pagination(1)
  //- +seo