extends ../layout

block prepend head
  - pageName = "Корзина"
block title
  +page-header(pageName)
block contentBody
  .page-message
    .page-message__icon
      include ../../images/inline-svgs/thumbs-up.svg
    .page-message__title Ваш заказ успешно оформлен
    .page-message__text
      | Ваша заявка успешно отправлена!
      br
      | В течение 5 минут мы Вам перезвоним
    .page-message__action
      a.button.button-secondary(href="index.html")
        .button__body Перейти на главную
        .button__icon
          include ../../images/inline-svgs/go-forward.svg