extends ../layout

block prepend head
  - pageName = "Корзина"
block title
  +page-header(pageName)
block contentBody
  .cells
    .cell.cell-xl-8
      #app-cart(data-url="http://localhost:3000/products", data-link-catalog="catalog.html",
      data-link-index-page="index.html")
    .cell.cell-md-8.cell-lg-6.mx-auto.cart__form.cell-xl-4
        form.custom-form.collapsing-form(action="")
          .form__header
            .form__title Оформить заказ
            .form__description
              | Заполните форму, и наш менеджер
              br
              | свяжется с Вами в ближайшее время
            .form__message
              .form__success
                .form__message__text Ваша заявка успешно отправлена!
          .form__bg
            .form__body
              label.form__field.form__field--required
                span.form__label Телефон
                input.form__input(type="tel", required)
              label.form__field.form__field--required
                span.form__label Email
                input.form__input(type="email", required)
              label.form__field
                span.form__label Текст сообщения
                textarea.form__input(rows="3")
              .form__submit
                button.button.button-submit(type="submit") Отправить
              .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
                a(href="policy.html") условиями обработки персональных данных
                