extends ../layout

block prepend head
  - pageName = "Каталог вариант 2"
block title
  +page-header(pageName)
block contentBody
  block elementsList
    .categories__list.cells.categories__list--v2
      each elm in cats
        +category-item-2(elm)(class="cell cell-lg-6")
  .epilog
    block articleEpilog
      p
        b Мы производим стройматериалы в Челябинске и осуществляем их доставку по городу и области. Почему стоит выбрать имеено нас?:
      ol
        li Наша репутация говорит за нас. Мы завоевали уважение и доверие сотен клиентов на Челябинском рынке;
        li Мы всегда идём на встречу заказчику, делая ему самые выгодные и интересные предложения по сотрудничеству;
        li Мы – профессионалы своего дела. Более чем за 7 лет мы полностью изучили рынок стройматериалов в Челябинске и области, а потому знаем, что Вам предложить;