extends ../layout

block prepend head
  - pageName = 'Сертификаты и лицензии'
block title
  +page-header(pageName, [{value: 'Компания «Ze Строй»',link: "about.html"}])
block contentBody
  -
    var crts = [
      {
        name: "Сертификат участника выставки «Деревянный дом»",
        type: "jpg",
        pic: require("/src/images/content-images/about-1.png"),
        fncbx: "certs-1"
      },
      {
        name: "Сертификаты на газобетон AEROС",
        type: "jpg",
        pic: require("/src/images/content-images/staff-2.jpg"),
        fncbx: "certs-1"
      },
      {
        name: "Сертификат «Доступное и комфортное жилье - гражданам России»",
        type: "jpg",
        pic: require("/src/images/content-images/folio-3.jpg"),
        fncbx: "certs-1"
      },
      {
        name: "Сертификаты на металлочерепицу",
        pic: "assets/content-images/constitution.pdf",
        type: "pdf"
      },
      {
        name: "Сертификат «Технологий малоэтажного деревянного строительства»",
        pic: require("/src/images/content-images/reviews-3.jpg"),
        type: "jpg",
        fncbx: "certs-1"
      },
      {
        name: "Лицензия министерства регионального развития Российской Федерации",
        type: "jpg",
        pic: require("/src/images/content-images/staff-5.jpg"),
        fncbx: "certs-2"
      },
      {
        name: "Лицензия на техническое обслуживание",
        pic: require("/src/images/content-images/staff-6.jpg"),
        type: "jpg",
        fncbx: "certs-2"
      },
      {
        name: "Декларация о соответствии КОМБИКОРМ ПОЛНОРАЦИОННЫЙ ДЛЯ сельскохозяйственной ПТИЦЫ",
        pic: "assets/content-images/constitution.pdf",
        type: "pdf"
      }
    ];
  mixin cert-item(item)
    .cert__item.cards__item.cell.cell-sm-6.cell-xl-4
      a.card.cert__bg(href= item.pic, target= item.type=="jpg" ? "_self" : "_blank", data-fancybox=item.fncbx || false)
        .cert__body.fdown(class= "fdown--" + item.type)
          .cert__name.fdown__name= item.name
        .cert__enlarge
          include ./../../images/inline-svgs/enlarge-cert.svg
  .content__body__block
    .h3 Сертификаты
    .certs__list.cards__list.cells
      each item, index in crts
        if index < 5
          +cert-item(item)
  .content__body__block
    .h3 Лицензии
    .certs__list.cards__list.cells
      each item, index in crts
        if index > 4
          +cert-item(item)
  +pagination(1)
  //- +seo
block contentNav
  -
    var items = [
      {
        value: "О компании",
        link: "about.html"
      },
      {
        value: "Партнеры",
        link: "partners.html"
      },
      {
        value: "Отзывы клиентов",
        link: "reviews.html"
      },
      {
        value: "Сотрудники",
        link: "staff.html"
      },
      {
        value: "Сертификаты и лицензии",
        link: "certs.html"
      },
      {
        value: "Реквизиты",
        link: "reqs.html"
      }
    ];
  .content__nav
    +section-navi('Компания «Ze Строй»', items, 4)