extends ../layout

block prepend head
  - pageName = "Список сверстанных страниц"
block title
  +page-header(pageName)
block contentBody
    ol
      li
        a(href="index.html") Главная
      li
        a(href="about.html") Контентная
      li
        a(href="parts.html") Шапки, заголовки страницы и футеры
      li
        a(href="partners.html") Партнеры
      li
        a(href="reviews.html") Отзывы
      li
        a(href="staff.html") Сотрудники
      li
        a(href="certs.html") Сертификаты и лицензии
      li
        a(href="news.html") Новости
        ul
          li
            a(href="news-item.html") Одна новость
      li
        a(href="articles.html") Статьи
        ul
          li
            a(href="article-item.html") Одна статья
          li
            a(href="article-item-2.html") Одна статья без картинки
      li
        a(href="video.html") Видео
      li
        a(href="sales.html") Акции
        ul
          li
            a(href="sales-item.html") Одна акция
      li
        a(href="folio.html") Проекты
        ul
          li
            a(href="folio-2.html") Проекты подкатегория
          li
            a(href="folio-item.html") Один проект
      li
        a(href="404.html") Страница 404 ошибки
      li
        a(href="search.html") Страница поиска
      li Каталог
        ul
          li
            a(href="catalog.html") Каталог вариант 1
          li
            a(href="catalog-2.html") Каталог вариант 2
          li
            a(href="category.html") Категория каталога
          li
            a(href="category-2.html") Категория каталога с раскрытым боковым меню
          li
            a(href="product.html") Товар с табами
          li
            a(href="product-2.html") Товар без табов
      li Корзина
        ul
          li
            a(href="cart.html") Корзина с товарами
          li
            a(href="cart-sent.html") Корзина отправлена
          li
            a(href="cart-empty.html") Пустая корзина
      li Услуги
        ul
          li
            a(href="services.html") Услуги
          li
            a(href="services-subcat.html") Услуги подраздел
          li
            a(href="service-item.html") Услуга детальная, вариант 1
          li
            a(href="service-item-2.html") Услуга детальная, вариант 2
      li
        a(href="settings.html") Панель настроек