extends ../layout

block contentBody
  h1 Список сверстанных страницы
  ul
    li
      a(href="index.html") Главная
    li
      a(href="about.html") Контентная
    li
      a(href="parts.html") Шапки, заголовки страницы и футеры
    li
      a(href="partners.html") Партнеры
    li
      a(href="reviews.html") Отзывы
    li
      a(href="staff.html") Сотрудники
    li
      a(href="certs.html") Сертификаты и лицензии
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")
    li
      a(href="")