extends ../layout

block prepend head
  - pageName = "Вопросы и ответы"
block title
  +page-header(pageName)
block contentBody
  -
    var cprds = [
      {
        name: "Поролон мебельный ST 2236 (1,6х2м) толщина 10мм",
        price: 440,
        pic: require("/src/images/content-images/cart-1.jpg"),
        qty: 2
      },
      {
        name: "Утеплитель ZE Строй «Коттедж +», упаковка  ",
        price: 840,
        pic: require("/src/images/content-images/cart-2.jpg"),
        qty: 1
      }
    ];
  h2 Содержание
  ul
    li
      a(href="#faq-forms") Формы
    li
      a(href="#faq-add2cart") Сообщение о добавлении товара в корзину
    li
      a(href="#faq-fancy") Всплывашки
    li
      a(href="#faq-spectrum") Выбор цвета
    li
      a(href="#faq-addToCart") Добавление товара в корзину
    li
      a(href="#faq-vue-cart") Корзина на vue.js
  .article__section
    h2#faq-forms Формы
    .cells
      .cell.cell-md-6
        h3 Типичная форма
        form(action="").custom-form.collapsing-form
          .form__header
            .form__title Быстрый заказ
            .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
            .form__message
              .form__message__text Ваша заявка успешно отправлена!
          .form__bg
            .form__body
              label.form__field.form__field--required
                span.form__label Телефон
                input.form__input(type="tel", required)
              label.form__field.form__field--required
                span.form__label Email
                input.form__input(type="email", required)
              label.form__field
                span.form__label Текст сообщения
                textarea.form__input(rows="3")
              .form__submit
                button.button.button-submit(type="submit") Отправить
              .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
                a(href="policy.html") условиями обработки персональных данных
        p &nbsp;
      .cell.cell-md-6
        h3 Отправленная форма
        p.
          Форма уже содержит место для сообщения об отправке - .form__message__text.
          После того, как форма обработана, заполняем это сообщение (успешно)
          и добавляем элементу .collapsing-form класс .collapsing-form--handled
        form(action="").custom-form.collapsing-form.collapsing-form--handled
          .form__header
            .form__title Быстрый заказ
            .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
            .form__message
              .form__message__text Ваша заявка успешно отправлена!
          .form__bg
            .form__body
              label.form__field
                span.form__label Заказ
                input.form__input(type="text", value= pageName, disabled)
              label.form__field.form__field--required
                span.form__label Телефон
                input.form__input(type="tel", required)
              label.form__field.form__field--required
                span.form__label Email
                input.form__input(type="email", required)
              label.form__field
                span.form__label Текст сообщения
                textarea.form__input(rows="3")
              .form__submit
                button.button.button-submit(type="submit") Отправить
              .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
                a(href="policy.html") условиями обработки персональных данных
        h3 Неотправленная форма
        p.
          Форма уже содержит место для сообщения об отправке - .form__message__text.
          После того, как форма обработана, заполняем это сообщение (не успешно)
          и добавляем элементу .collapsing-form классы .collapsing-form--handled.failed
        form(action="").custom-form.collapsing-form.collapsing-form--handled.failed
          .form__header
            .form__title Быстрый заказ
            .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
            .form__message
              .form__message__text
                | Произошла какая-то ошибка, форма не была отправлена.
                br
                | Свяжитесь с нами по телефону +7 111 222-33-44
          .form__bg
            .form__body
              label.form__field
                span.form__label Заказ
                input.form__input(type="text", value= pageName, disabled)
              label.form__field.form__field--required
                span.form__label Телефон
                input.form__input(type="tel", required)
              label.form__field.form__field--required
                span.form__label Email
                input.form__input(type="email", required)
              label.form__field
                span.form__label Текст сообщения
                textarea.form__input(rows="3")
              .form__submit
                button.button.button-submit(type="submit") Отправить
              .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
                a(href="policy.html") условиями обработки персональных данных
  .article__section
    h2#faq-add2cart Сообщение о добавлении товара в корзину
    p.
      После того, как товар добавлен в корзину, нужно показать сообщение #product-added (код блока включен на всех страницах после футера), предварительно задав название товара в .notification__text
      В js включена функция handleAdd2Cart(),
      которая показывает это сообщение и скрывает его через 4 сек по setTimeout
  .article__section
    h2#faq-fancy Всплывашки
    p.
      Всплывашки - fancyBox v3.5.7. Версия 3 больше не поддерживается, поэтому ссылки с доками такие:
    ul
      li
        a(href="https://web.archive.org/web/20210325170940/https://fancyapps.com/fancybox/3/docs/", target="_blank") Webarchive Fancybox 3
      li
        a(href="https://github.com/fancyapps/fancybox", target="_blank") Github Fancybox 3
    p Программный вызов fancy:
    code
      | $('selector').fancybox();
    p А можно сразу сообщение fancy передать вот так:
    code
      | $.fancybox.open('
      = '<div class="popup"><div class="popup__message"><h2>Hello!</h2><p>You are awesome!</p></div></div>'
      | ');
    p
      button.button.button-primary(data-fancybox, data-type="inline", data-src="#some-popup") Показать всплывашку с сообщением
    .display-none#some-popup
      .popup
        .popup__message
          h2 Hello!
          p You are awesome!
  .article__section
    h2#faq-spectrum Выбор цвета
    p
      | Использован плагин
      |
      a(href="https://seballot.github.io/spectrum/", target="_blank") Spectrum
    p После ВЫБОРА нового цвета в поля [name="theme-color-2"] и [name="theme-color-1"] записываюца value="hsl(0, 0%, 0%)"

  .article__section
    h2#faq-addToCart Добавление товара в корзину

    p 
      | Данные товара передавать через атрибуты
      |
      code 
        b data-:
    ul
      li  data-id="уникальный id товара", 
      li  data-name ="наименование(название) товара", 
      li  data-src ="путь до картинки товара", 
      li  data-price ="новая цена товара(.products__prices__new)"
      li  data-currency="единица валюты товара"
    p в соответствующие кнопки товаров с классами:
    ul
      li кнопка с классом .js-add2cart и 
      li кнопка с классом .products__button &gt; .button,

    p которые после клика будут сохраняться в localStorage

    p Попасть в корзину можно по клику на маленькую корзину в шапке 
      .bcart
      a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart-vue.html")
        include ../../images/inline-svgs/cart-icon.svg
      | (значение атрибута href должно быть 
      |
      code href="cart-vue.html"
      |) 

  .article__section
    h2#faq-vue-cart Корзина на vue.js

    p Инициализация корзины происходит при добавлении на страницу следующего тэга
    code 	
     b &lt;div id="app-cart" data-url="" data-link=""	&gt;
    p необходимыe параметры для работы корзины:
    ul
      li
        code 
          b data-url="" - ссылка для запроса по данным товаров к серверу
          br
        div передача происходит по get-запросу(в качестве параметров передаются id товаров в корзине), 
        div ожидает ответ с данными по товарам в формате файла .json вида:
          span(style="display: block;") &#123;
          span(style="margin-left: 10px; display: block;") &#34;products&#34;: &#91;
          span(style="margin-left: 20px; display: block;") &#123;
          div(style="margin-left: 60px; display: block;")
            p &#34;id&#34;: 1,
            p &#34;name&#34;:&#34;Поролон мебельный ST 2236 (1,6х2м) толщина 10мм&#34;,
            p &#34;price&#34;: 440,
            p &#34;pic&#34;:&#34;assets/content-images/cart-1.jpg&#34;,
            p &#34;currency&#34;:&#34;руб.&#34;
          span(style="margin-left: 20px; display: block;") &#125;
          span(style="margin-left: 10px; display: block;") &#93;
          span &#125;
      li 
        p для текстовых данных на сайте необходимо подключение js-файла  
        p файл в кодировке utf-8 расположен по адресу assets/js/cart-data/textUtf.js,  
        p файл в кодировке windows-1251 расположен по адресу assets/js/cart-data/textWin1251.js
        br
        p содержимое файла - строковые константы:
        div
          div const textData =  &#123;
            br
            p HEADER_TITLE: &#34;Список заказа&#34;,
            p HEADER_REMOVE;:&#34;Очистить все&#34;,
            p FOOTER_TITLE: &#34;Итого:&#34;,
            p CURRENCY_UNIT:&#34;руб.&#34;,
            p UNIT:&#34;ед.&#34;
            p PRISE_FOR_UNIT:&#34;Цена, за 1 ед.&#34;
            p ON_REQUEST_TEXT:&#34;по запросу&#34;
            p EMPTY_CART_TITLE:&#34;Ваша корзина пуста&#34;
            p EMPTY_CART_TEXT:&#34;Выберите в каталоге интересующий товар и добавьте в корзину&#34;
            p EMPTY_CART_LINK_TEXT:&#34;Перейти в каталог&#34;
          span &#125;
      li
        code 
          b data-link="" - путь для ссылки, которая возвращает обратно в каталог
          br
    .cells
      .cell.cell-md-8
        h3.text-center Типичная корзина
        .cart-contents
          .cart-contents__header
            .cells.fx-justify-between
              .cell.cell-auto
                .cart-contents__header__title Список заказа
              .cell.cell-auto
                button.cart-contents__header__erase.js-cart-empty Очистить все
          .cart-contents__body
            each item in cprds
              .cart-contents__item
                .cart-contents__row
                  a.cart-contents__image(class= item.pic ? "" : "no-image", href="product-item.html")
                    // Размер картинок 124х93
                    if item.pic
                      img(src= item.pic)
                  .cart-contents__info
                    a.cart-contents__name(href="product-item-2.html")  Поролон мебельный ST 2236 (1,6х2м) толщина 10мм
                    .cart-contents__price
                      .cart-contents__price__value= item.price ? item.price + " руб." : "по запросу"
                      .cart-contents__price__label Цена, за 1 ед.
                  .cart-contents__pricing
                    .cart-contents__qty
                      .qty
                        button.qty__change.qty__change--minus(disabled) -
                        input.qty__input.form__input(type="text", value= item.qty, data-min="1", data-max="99")
                        button.qty__change.qty__change--plus +
                    .cart-contents__price
                      .cart-contents__price__value= item.price ? (item.price * item.qty) + " руб." : "по запросу"
                      .cart-contents__price__label= "x " + item.qty + " ед."
                  .cart-contents__remove
                    button.button-remove.button.button-icon(title="Удалить товар из корзины")
                      include ../../images/inline-svgs/remove-from-cart.svg
          .cart-contents__footer
            .cells.fx-justify-between
              .cell.cell-auto
                .cart-contents__footer__title Итого:
              .cell.cell-auto
                .cart-contents__footer__value 2 600 руб

      .cell.cell-md-4        
        h3.text-center Пустая корзина
        block contentBody
          .page-message
            .page-message__icon
              include ../../images/inline-svgs/cart-icon.svg
            .page-message__title Ваша корзина пуста
            .page-message__text
              | Выберите в каталоге интересующий товар и добавьте в корзину
            .page-message__action
              a.button.button-secondary(href="catalog.html")
                .button__body Перейти в каталог
                .button__icon
                  include ../../images/inline-svgs/go-forward.svg
        

  //- +pagination(1)
  //- +seo