extends ../layout

block content
  include ../components/hero.pug
  include ../components/benefits.pug
  include ../components/section-services.pug
  include ../components/section-videos.pug
  include ../components/section-partners.pug
  include ../components/section-cats.pug
  include ../components/section-products.pug
  include ../components/section-news.pug
  include ../components/section-folio.pug
  include ../components/section-services-v2.pug
  include ../components/section-reviews.pug
  include ../components/section-cats-v2.pug
  include ../components/section-about.pug
  block settingsPanel