extends ../layout

block content
  include ../components/hero.pug
  include ../components/benefits.pug
  include ../components/cats.pug
  include ../components/videos.pug
  include ../components/services.pug
  include ../components/products.pug
  include ../components/news.pug
  include ../components/reviews.pug