extends ../layout

block prepend head
  - pageName = "Новости"
block title
  +page-header(pageName)
block contentBody
  .cells.news__list.cards__list
    each item in nws
      +news-item(item)(class="cell cell-sm-6 cell-md-4")
  +pagination(1)
  //- +seo