extends ../layout

block title
  - var pageTitle = 'Стильный каркасный дом по проекту от клиента';
  - var crumbs = [{value: "Новости", link: "news.html"}];
  +page-header(pageTitle, crumbs)
block contentBody
  .article__image
    img(src=require("/src/images/content-images/news-6.jpg"))
  .article__date 28.04.2021
  .article__body
    p.
      Легкий, просторный, светлый дом, который был построен по индивидуальному проекту,
      ждет своих хозяев. На двух жилых этажах расположены 3 уютных спальни,
      2 просторных холла, кухня, прихожая, санузел, подсобные помещения.
    h5 Описание дома
    ol
      li
        b Большая терраса
        |
        | частично накрыта козырьком над входом, защищает от дождя и непогоды.
        | Однако достаточно много места на террасе остается под открытым небом.
        | Там можно расположиться для чаепития, занятий с детьми, чтения книг и отдыха.
      li
        b Деревянные стены
        |
        |  строения являются экологически чистым материалом.
        | Они обработаны специальными антисептическими средствами, предотвращающими гниение, появление плесени и грибка.
        | А специальные утеплители, зашитые защитным материалом, обеспечивают в доме отличную тепло- и шумоизоляцию.
      li
        b Дом сооружен на винтовых металлических сваях
        | , которые обеспечивают его прочность и устойчивость.
      li
        b Декоративный выступ на крыше дома в виде «кукушки»
        |
        | придает строению стильный вид, а удлиненные окна на первом этаже формируют оригинальный фасад.
      li
        b Внешняя пропитка стен устойчива к осадкам
        | , а металлическая скатная кровля защитит строение от непогоды.
      li
        | Внутри помещения имеют хорошую высоту — 2 метра 60 сантиметров. Это придает дому воздушность и легкость.
    p Подробнее про дом и его технические характеристики можно
      |
      |
      a(href="") посмотреть здесь.
  +back-button("Назад к списку")
block contentAside
  .content__aside
    .news-nav
      .news-nav__list
        each item, index in nws
          if index < 2
            .news-nav__item
              .news-nav__cover
                a.news-nav__image(href="", class= item.pic ? "" : "no-image")
                  if item.pic
                    img(src= item.pic)
                .news-nav__date= item.date
              a.news-nav__name(href="")= item.title
