extends article-item

block append head
  - pageName = "Стильный каркасный дом по проекту от клиента"
block title
  +page-header(pageName, [{value: "Новости", link: "news.html"}])
block contentBody
  .article__image
    img(src=require("/src/images/content-images/news-6.jpg"))
  .article__date 28.04.2021
  .article__body
    p.
      Легкий, просторный, светлый дом, который был построен по индивидуальному проекту,
      ждет своих хозяев. На двух жилых этажах расположены 3 уютных спальни,
      2 просторных холла, кухня, прихожая, санузел, подсобные помещения.
    h5 Описание дома
    ol
      li
        b Большая терраса
        |
        | частично накрыта козырьком над входом, защищает от дождя и непогоды.
        | Однако достаточно много места на террасе остается под открытым небом.
        | Там можно расположиться для чаепития, занятий с детьми, чтения книг и отдыха.
      li
        b Деревянные стены
        |
        |  строения являются экологически чистым материалом.
        | Они обработаны специальными антисептическими средствами, предотвращающими гниение, появление плесени и грибка.
        | А специальные утеплители, зашитые защитным материалом, обеспечивают в доме отличную тепло- и шумоизоляцию.
      li
        b Дом сооружен на винтовых металлических сваях
        | , которые обеспечивают его прочность и устойчивость.
      li
        b Декоративный выступ на крыше дома в виде «кукушки»
        |
        | придает строению стильный вид, а удлиненные окна на первом этаже формируют оригинальный фасад.
      li
        b Внешняя пропитка стен устойчива к осадкам
        | , а металлическая скатная кровля защитит строение от непогоды.
      li
        | Внутри помещения имеют хорошую высоту — 2 метра 60 сантиметров. Это придает дому воздушность и легкость.
    p Подробнее про дом и его технические характеристики можно
      |
      |
      a(href="") посмотреть здесь.
  +back-button("Назад к списку", "news.html")
block contentAside
  .content__aside
    +articles-nav(nws)
