extends ../layout

block prepend head
  - pageName = 'Компания «Ze Строй»'
block header
  .wrap
    p
    h1 Шапки
    h1 Шапка вариант 1
    p
  hr.divider
  +header-var
  hr.divider
  .wrap
    p
    h1 Шапка вариант 2
    p
  +header-var("header--v2")
  hr.divider
  .wrap
    p
    h1 Шапка вариант 3
    p
  +header-var("header--v3")
  hr.divider
block title
  -
    var crumbs = [
      {
        value: "Catalog",
        link: ""
      },
      {
        value: "Category",
        link: ""
      }
    ];
  .wrap
    p
    h1 Заголовки
  +page-header("Заголовок страницы вариант 1", crumbs, "page-header--v1")
  +page-header("Заголовок страницы вариант 2", crumbs, "page-header--v2")
  hr.divider
  +page-header("Заголовок страницы вариант 3", crumbs, "page-header--v3")
  hr.divider
block footer
  .wrap
    p
    h1 Футеры
    h1 Футер вариант 1, фон 1
    p
  +footer-var
  .wrap
    p
    h1 Футер вариант 1, фон 2
    p
  +footer-var("footer--v1", "footer__bg--v2")
  .wrap
    p
    h1 Футер вариант 2, фон 1
    p
  +footer-var("footer--v2", "footer__bg--v1")
  .wrap
    p
    h1 Футер вариант 2, фон 2
    p
  +footer-var("footer--v2", "footer__bg--v2")
