extends product.pug

block prepend head
  - pageName = "Поролон мебельный ST 2236 (1,6х2м) толщина 10мм"
block contentBody
  .prpresentation
    .prpresentation__illustrations
      .illustrations__nav
        .illustrations__nav__slider
          .illustrations__nav__item
            .illustrations__nav__image
              img(src="")
      .illustrations__pic
        .illustrations__pic__slider
          .illustrations__pic__item
            .illustrations__pic__image
              img(src="")
