extends ../layout

block prepend head
  - pageName = "Когда акция одна"
block title
  +page-header(pageName, [{value: "Акции", link: "sales.html"}])
block contentBody
  .article__image
    img(src=require("/src/images/content-images/sales-1.jpg"))
  .article__date.article__date--sale Бессрочная
  .article__body
    p
      | Вы уже заказали у нас строительство дома или бани?
      | Обязательно поделитесь этой новостью со своими друзьями:
      | пусть они узнают, какие качественные, современные,
      | комфортные и удобные строения мы возводим.
      | А если вы приведете к нам клиента — своего друга, соседа, родственника, знакомого —
      | и он оформит заказ, то получите отличный
      |
      b бонус-благодарность: 20 тысяч рублей.
    p.
      Акция «Партнер» направлена на поощрение наших клиентов и на расширение рынка сбыта.
      Ведь мы стремимся радовать нашими комфортабельными домами и банями
      как можно большее количество людей. Помогите нам осуществить эту мечту!
  block articleButton
    +back-button("Назад к списку", "sales.html")
block contentAside
  .content__aside
