extends ../layout

block prepend head
  - pageName = "Поиск"
block title
  +page-header(pageName)
block contentBody
  -
    var srch = [
      {
        name: "Как понять, какой <b>фасад</b> дома Вам нужен?!",
        text: "<b>Фасад</b> вашего дома - это не только красивая картинка снаружи, но и внутреннее состояние, удобство и качество вашей жизни."
      },
      {
        name: "Строительство шале в Челябинске",
        text: 'Компании «Санхоум», «КЛМ-арт», «Кровля и <b>Фасад</b>» и портал Stroyka74 начинают новый, совершенно уникальный для Челябинска проект, посвященный строительству шале. Постепенно мы будем рассказывать о проекте. '
      },
      {
        name: "Гарантии и сервис",
        text: '... Очистка водосточной системы от листьев, регулировка усадочных домкратов, добавление террас, кровель, перегородок, обновление покрытия <b>фасада</b>... Вы всегда можете рассчитывать на нашу помощь! Хотите ознакомиться с договором на строительство дома? Позвоните нам прямо сейчас'
      },
      {
        name: "Малиновка",
        text: "...все необходимое для полноценной жизни (котельная, 2 сан.узла, гостевая спальная, просторная кухня-столовая). Два изящных эркера на основных <b>фасадах</b> придают дому яркую индивидуальность и неповторимость. Площадь полов дома 148 м2, Отапливаемая площадь, 138 м2. "
      }
    ];
  .page-search__form
    form.search__form.form(action="")
      label.form__field
        input.form__input(type="text", name="", placeholder="Введите запрос", tabindex="-1", value="Фасад")
      button.button-submit.button(type="submit", tabindex="-1")
        span.button__icon
          include ../../images/inline-svgs/search.svg
        span.button__body Найти
  .page-search__results
    each item in srch
      .search__result
        .search__result__title !{item.name}
        .search__result__body !{item.text}
  +pagination(1)