extends ../layout

block prepend head
  - pageName = "Услуги"
block title
  +page-header(pageName)
block contentBody
  .sservices--v1.services--left
    include ../components/services-list.pug
  +pagination(0)
  +seo