extend index.pug

block settingsPanel
  .settings
    .settings__toggle
      button.button.button-settings.js-settings
        include ../../images/inline-svgs/settings-tweak.svg
        span.sr-only Показать панель настроек сайта
    .settings__body
      .settings__header
        .cells.settings__header__row
          .cell.cell-auto
            .settings__header__title
              .settings__header__title__icon
                include ../../images/inline-svgs/settings-tweak.svg
              .settings__header__title__text Настройки решения
          .cell.cell-auto
            .settings__header__reset
              button.button.button-sreset.js-settings-reset
                span.button__body Сбросить
                span.button__icon
                  include ../../images/inline-svgs/settings-reset.svg
          .cell.cell-auto
            .settings__close
              button.button.button-icon.button-close.js-settings-close
                include ../../images/inline-svgs/settings-close.svg
                span.sr-only Закрыть панель настроек
      .settings__tabs
        .settings__labels
          .settings__labels__list
            .settings__label
              a.settings__label__link.settings__label__link--current(href="#settings-color") Цвет
            .settings__label
              a.settings__label__link(href="#settings-header") Шапка
            //- .settings__label
            //-   a.settings__label__link(href="#settings-footer") Футер
            //- .settings__label
            //-   a.settings__label__link(href="#settings-index") Главная
            //- .settings__label
            //-   a.settings__label__link(href="#settings-sections") Разделы
        .settings__panels
          .settings__panel.settings__panel--current#settings-color
            form(action="")
              .settings__panel__title Цвет решения
              .settings__panel__section
                .sps__container.sps__container--active
                  .sps__title Готовые комбинации
                  .sps__body
                    ul.colors__list.cells
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--1
                          input.colors__input(type="radio", name="site-theme", value="1", checked)
                          span.colors__value
                          span.colors__label Мандариновый сад
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--2
                          input.colors__input(type="radio", name="site-theme", value="2")
                          span.colors__value
                          span.colors__label Лесная черника
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--3
                          input.colors__input(type="radio", name="site-theme", value="3")
                          span.colors__value
                          span.colors__label Океанский бриз
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--4
                          input.colors__input(type="radio", name="site-theme", value="4")
                          span.colors__value
                          span.colors__label Осенний листопад
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--5
                          input.colors__input(type="radio", name="site-theme", value="5")
                          span.colors__value
                          span.colors__label Угольная буря
                      li.colors__item.cell.cell-6
                        label.colors__color.colors__color--6
                          input.colors__input(type="radio", name="site-theme", value="6")
                          span.colors__value
                          span.colors__label Мятное мороженое
              .settings__panel__section
                .reveal
                  label.sps__toggle
                    input.sps__toggle__input(type="radio", name="site-theme", value="0")
                    span.sps__toggle__value
                    span.sps__toggle__label Настроить цвет
                  .reveal__contents
                    .sps__container
                      .sps__title Индивидуальные настройки
                      .sps__body
                        .tabs
                          ul.colors__list.sps-tabs__switches.cells
                            li.colors__item.cell.cell-6
                              a.colors__color.colors__color--7.tabs__switch.tabs__switch--current(data-name="theme-color-1", href="#color-picker-1")
                                span.colors__value
                                span.colors__label Основной цвет
                            li.colors__item.cell.cell-6
                              a.colors__color.colors__color--8.tabs__switch(data-name="theme-color-2", href="#color-picker-2")
                                span.colors__value
                                span.colors__label Интерактивный цвет
                          .tabs__panels
                            .tabs__panel.tabs__panel--current#color-picker-1
                              input.spectrum-picker(value="#44745c", name="theme-color-1", type="text")
                            .tabs__panel#color-picker-2
                              input.spectrum-picker(value="#e8903f", name="theme-color-2", type="text")
          .settings__panel#settings-header
            h1 yay




