extends ../layout
block prepend head
  - pageName = "Видео"

block title
  -
    var crumbs = [];
  +page-header(pageName, crumbs)
block contentBody
  .prologue
    p
      | На нашем youtube-канале вы можете не только посмотреть ход строительства данных домов,
      | но и бесплатно получить проект и смету. Переходите на наш
      |
      a(href="") youtube-канал,
      | оставляйте вашу почту в комментариях к понравившемуся дома и мы вышлем вам проект и смету.
  .cells.videos__list.cards__list.cards__list--accented1
    each item in vds
      +video-item(item)(class="cell cards__item cell-sm-6 cell-xl-3")
  //- +pagination(1)
  //- +seo