doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(name="format-detection", content="telephone=no")
      link(rel="preconnect", href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap",rel="stylesheet")
      link(rel="stylesheet", href="assets/css/vendor/jquery.fancybox.css")
      title Tian Corp Front
  body
    block essentials
      include components/vars.pug
        include components/mixins.pug
    .corp#top
      include components/header
      include components/footer
      block header
        +header-var
      block title
      block content
        .wrap
          .content
            block contentNav
              //- .content__nav
            .content__body
              block contentBody
            block contentAside
              //- .content__aside
      block footer
        +footer-var
      include components/popups
    script(src="assets/js/vendor/jquery-3.6.0.min.js")
    script(src="assets/js/vendor/jquery.fancybox.min.js")
    script(src="assets/js/vendor/slick.min.js")
    script(src="assets/js/vendor/jquery.form.js")
    script(src="assets/js/vendor/clamp.min.js")