body {
  --color-header: #262828;
  --custom-color-1h: 29;
  --custom-color-1s: 78%;
  --custom-color-1l: 58%;
  --custom-color-2h: 150;
  --custom-color-2s: 26%;
  --custom-color-2l: 36%;
  --custom-color-1: hsl(var(--custom-color-1h),
      var(--custom-color-1s),
      var(--custom-color-1l));
  --custom-color-hover: hsl(var(--custom-color-1h),
      calc(var(--custom-color-1s) + 10%),
      calc(var(--custom-color-1l) - 15%));
  --custom-color-active: hsl(var(--custom-color-1h),
      var(--custom-color-1s),
      calc(var(--custom-color-1l) - 20%));
  --custom-color-2: hsl(var(--custom-color-2h),
      var(--custom-color-2s),
      var(--custom-color-2l));
  --custom-color-21: hsl(var(--custom-color-2h),
      var(--custom-color-2s),
      calc(var(--custom-color-2l) - 15%));
}

.corp {
  --custom-color-1h: 29;
  --custom-color-1s: 78%;
  --custom-color-1l: 58%;
  --custom-color-2h: 150;
  --custom-color-2s: 26%;
  --custom-color-2l: 36%;
  --custom-color-1: hsl(var(--custom-color-1h),
      var(--custom-color-1s),
      var(--custom-color-1l));
  --custom-color-hover: hsl(var(--custom-color-1h),
      calc(var(--custom-color-1s) + 10%),
      calc(var(--custom-color-1l) - 15%));
  --custom-color-active: hsl(var(--custom-color-1h),
      var(--custom-color-1s),
      calc(var(--custom-color-1l) - 20%));
  --custom-color-2: hsl(var(--custom-color-2h),
      var(--custom-color-2s),
      var(--custom-color-2l));
  --custom-color-21: hsl(var(--custom-color-2h),
      var(--custom-color-2s),
      calc(var(--custom-color-2l) - 15%));
}

.button-primary,
.bcart__button--active::after,
.button-submit,
.slick-active button,
.sservices--v1 .services__title,
.videos__link::after,
.slider-nav .slick-current::after,
.nav--extra.dropdown--opened>.dropdown__toggle,
.to-top__link,
.header--v3 .search__toggle,
.fancy-arrow:hover,
.projects__category,
.tabs__switch.current,
.nav-slider .slick-arrow,
.sprojects__category,
.sps__toggle__input:checked~.sps__toggle__value::after,
.settings__block-toggle:checked~.button-on,
.settings__accordeon.opened .button-tweak {
  background-color: #e8903f;
  background-color: var(--custom-color-1);
}

.button-primary,
.button-submit,
.button-secondary,
.slider-nav .slick-current .slider-nav__image,
.form__input:hover,
.fancy-arrow:hover,
.pagination__link--active,
.slick-current .illustrations__nav__image,
.illustrations__nav__item:not(.slick-slide) .illustrations__nav__image,
.set-option__input:checked~.sps__container,
.active .sps__container {
  border-color: #e8903f;
  border-color: var(--custom-color-1);
}

.set-option__input:checked~.sps__container,
.active .sps__container {
  box-shadow: 0 0 0 1px #e8903f;
  box-shadow: 0 0 0 1px var(--custom-color-1);
}

a,
.expand__icon,
.button-secondary,
.slick-arrow,
.expand--opened>.expand__toggle,
.dropdown--opened:not(.nav--extra)>.dropdown__toggle,
.footer--v1 .footer__emails .connect,
.snavigation__link--current,
.dropdown__icon,
.fancy-close,
.fancy-arrow,
.pagination__link--active,
.cert__bg:hover,
.contact__link .contact__icon,
.search__result b,
.search__result span,
.snavigation__link__button,
.snavigation__sublink--current,
.opened>.snavigation__link,
.cart-contents__header__erase,
.illustrations__pic__image__decor,
.set-option__input:checked~.sps__container .set-option__title::before,
.settings__accordeon.opened .set-accordeon__title,
.set-option__input:checked~.set-option__text,
.set-option__input:checked~.sps__container .set-option__text,
.settings__label__link.tabs__switch.current {
  color: #e8903f;
  color: var(--custom-color-1);
}

.connect:not(.connect--labeled)::before,
.benefits__img,
.label,
.products__label,
.card__date,
.articles__item:first-child .icard__image::before,
.articles-nav__date,
.popup-search,
.reviews__pic--empty,
.header--v2 .header__bg,
.addresses .dropdown__body .connect__item::before,
.page-header__bg,
.snavigation__toggle,
.snavigation__link--current::before,
.form__header,
.footer--v2 .footer__phones .connect__button::before,
.cards__list--accented1 .cards__item:first-child .icard__body,
.opened>.snavigation__link::before,
.presentation__label,
.settings__header,
.settings__panel__section.active .sps__container::before,
.set-option__input:checked~.sps__container::before,
.settings__label__link.tabs__switch.current::before {
  background-color: #44745c;
  background-color: var(--custom-color-2);
}

.hero__slider .slick-dots button,
.videos__link::before,
.primary-nav .expand__body,
.primary-nav .dropdown__body,
.header--v2 .bcart__button--active::after,
.cards__list--accented1 .cards__item:first-child .icard__body {
  border-color: #44745c;
  border-color: var(--custom-color-2);
}

.content__body thead tr:last-child th,
.sabout__intro thead tr:last-child th {
  border-bottom-color: #44745c;
  border-bottom-color: var(--custom-color-2);
}

.reviews__cat__text,
.reviews__pic__decor,
ol li::before,
ul li::before,
.reviews__intro__icon,
.article__action__title__icon,
.contact__icon,
.nb__icon,
.page-message__icon,
.settings__contents {
  color: #44745c;
  color: var(--custom-color-2);
}

.button-primary:hover,
.button-secondary:hover,
.button-submit:hover,
.sservices--v1 .services__link:hover .services__title,
.sservices--v2 .services__link:hover,
.videos__link:hover::after,
.slick-arrow:hover,
.slick-dots button:hover,
.nav--extra:hover>.dropdown__toggle,
.to-top__link:hover,
.socials__link:hover,
.messengers__link:hover,
.header--v3 .search__toggle:hover,
.fancy-close:hover,
.pagination__link:hover,
.tabs__switch:hover {
  background-color: #cf6a0c;
  background-color: var(--custom-color-hover);
}

.button-primary:hover,
.button-secondary:hover,
.button-submit:hover,
.sservices--v1 .services__link:hover .services__title,
.sservices--v2 .services__link:hover,
.videos__link:hover::after,
.slick-arrow:hover,
.slider-nav__item:hover .slider-nav__image,
.form__input:focus,
.fancy-close:hover,
.pagination__link:hover {
  border-color: #cf6a0c;
  border-color: var(--custom-color-hover);
}

a:hover,
.hoverable .expand:hover>.expand__toggle,
.search__toggle:hover,
.footer__emails .connect__text:hover,
.button-remove:hover {
  color: #cf6a0c;
  color: var(--custom-color-hover);
}

.button-primary:active,
.button-secondary:active,
.button-submit:active,
.sservices--v1 .services__link:active .services__title,
.sservices--v2 .services__link:active,
.videos__link:active::after,
.slick-arrow:active,
.slick-dots button:active,
.nav--extra .dropdown__toggle:active,
.to-top__link:active,
.socials__link:active,
.messengers__link:active,
.header--v3 .search__toggle:active,
.fancy-arrow:active,
.pagination__link:active,
.tabs__switch:active {
  background-color: #ad5e15;
  background-color: var(--custom-color-active);
}

.button-primary:active,
.button-secondary:active,
.button-submit:active,
.sservices--v1 .services__link:active .services__title,
.sservices--v2 .services__link:active,
.videos__link:active::after,
.slick-arrow:active,
.slider-nav__item:active .slider-nav__image,
.fancy-arrow:active,
.pagination__link:active {
  border-color: #ad5e15;
  border-color: var(--custom-color-active);
}

a:active,
.hoverable .expand__toggle:active,
.search__toggle:active,
.footer__emails .connect__text:active,
.button-remove:active {
  color: #ad5e15;
  color: var(--custom-color-active);
}

.footer__bg--v1 {
  background-color: #284436;
  background-color: var(--custom-color-21);
  background-image: radial-gradient(90% 30% at 120% 90%,
      hsla(var(--custom-color-1h),
        var(--custom-color-1s),
        var(--custom-color-1l),
        0.3) 0%,
      rgba(0, 0, 0, 0) 100%);
}

.header--v2 .mheader__phones .connect::before,
.header--v2 .header__phones .connect::before,
.header--v2 .header__addresses .connect::before {
  background-color: #284436;
  background-color: hsla(var(--custom-color-2h),
      var(--custom-color-2s),
      calc(var(--custom-color-2l) - 15),
      0.5);
}

.snavigation__toggle {
  background-image: radial-gradient(12% 85% at 100% 7%,
      hsla(var(--custom-color-1h),
        var(--custom-color-1s),
        var(--custom-color-1l),
        0.3) 0%,
      rgba(0, 0, 0, 0) 100%);
}

.settings__header {
  background-image: radial-gradient(22.6% 110.35% at 100% 100%,
      hsla(var(--custom-color-1h),
        var(--custom-color-1s),
        var(--custom-color-1l),
        0.5) 0%,
      rgba(0, 0, 0, 0) 100%);
}

.notification {
  background-color: #284436;
  background-color: var(--custom-color-21);
}

.notification__icon {
  color: #284436;
  color: var(--custom-color-21);
}

.button-settings {
  border-top-color: var(--custom-color-1);
  border-right-color: var(--custom-color-1);
  border-bottom-color: var(--custom-color-2);
  border-left-color: var(--custom-color-2);
}

@media (max-width: 575px) {
  .hero__item {
    background-color: #44745c;
    background-color: var(--custom-color-2);
  }
}

@media (min-width: 576px) {
  .hero__descr {
    color: #44745c;
    color: var(--custom-color-2);
  }
}

@media (min-width: 768px) {
  .footer__bg--v1 {
    background-image: radial-gradient(35% 60% at 50% 128%,
        hsla(var(--custom-color-1h),
          var(--custom-color-1s),
          var(--custom-color-1l),
          0.3) 0%,
        rgba(0, 0, 0, 0) 100%);
  }
}

@media (min-width: 800px) {
  .settings__close {
    color: #e8903f;
    color: var(--custom-color-1);
  }
}

@media (min-width: 1024px) {
  .footer__bg--v1 {
    background-image: radial-gradient(30% 60% at 60% 120%,
        hsla(var(--custom-color-1h),
          var(--custom-color-1s),
          var(--custom-color-1l),
          0.3) 0%,
        rgba(0, 0, 0, 0) 100%);
  }
}

@media (min-width: 1200px) {
  .sps__toggle__value:hover {
    border-color: #cf6a0c;
    border-color: var(--custom-color-hover);
  }

  .sps__toggle__value:hover {
    box-shadow: 0 0 0 1px #cf6a0c;
    box-shadow: 0 0 0 1px var(--custom-color-hover);
  }

  .colors__color:hover .colors__value {
    box-shadow: 0 0 0 2px #cf6a0c;
    box-shadow: 0 0 0 2px var(--custom-color-hover);
  }

  .settings__option:hover {
    border-color: #cf6a0c;
    border-color: var(--custom-color-hover);
    box-shadow: 0 0 0 1px #cf6a0c;
    box-shadow: 0 0 0 1px var(--custom-color-hover);

    .set-option__title {
      color: #cf6a0c;
      color: var(--custom-color-hover);
    }
  }
}

.site-theme-1 {
  --custom-color-1h: 29;
  --custom-color-1s: 78%;
  --custom-color-1l: 58%;
  --custom-color-2h: 150;
  --custom-color-2s: 26%;
  --custom-color-2l: 36%;
}

.site-theme-2 {
  --custom-color-1h: 79;
  --custom-color-1s: 69%;
  --custom-color-1l: 40%;
  --custom-color-2h: 230;
  --custom-color-2s: 46%;
  --custom-color-2l: 29%;
}

.site-theme-3 {
  --custom-color-1h: 183;
  --custom-color-1s: 100%;
  --custom-color-1l: 37%;
  --custom-color-2h: 202;
  --custom-color-2s: 100%;
  --custom-color-2l: 30%;
}

.site-theme-4 {
  --custom-color-1h: 27;
  --custom-color-1s: 75%;
  --custom-color-1l: 58%;
  --custom-color-2h: 353;
  --custom-color-2s: 69%;
  --custom-color-2l: 37%;
}

.site-theme-5 {
  --custom-color-1h: 358;
  --custom-color-1s: 85%;
  --custom-color-1l: 52%;
  --custom-color-2h: 252;
  --custom-color-2s: 12%;
  --custom-color-2l: 16%;
}

.site-theme-6 {
  --custom-color-1h: 186;
  --custom-color-1s: 81%;
  --custom-color-1l: 45%;
  --custom-color-2h: 313;
  --custom-color-2s: 40%;
  --custom-color-2l: 47%;
}

.dark {
  color: #fff;
}