// @use "sass:color";
$custom-color-1-h: 29;
$custom-color-1-s: 78%;
$custom-color-1-l: 58%;
$custom-color-1: hsl($custom-color-1-h, $custom-color-1-s, $custom-color-1-l);
$custom-color-2-h: 150;
$custom-color-2-s: 26%;
$custom-color-2-l: 36%;
$custom-color-2: hsl($custom-color-2-h, $custom-color-2-s, $custom-color-2-l);

$custom-color-hover: hsl(
  $custom-color-1-h,
  $custom-color-1-s + 10,
  $custom-color-1-l - 15
);
$custom-color-active: hsl(
  $custom-color-1-h,
  $custom-color-1-s,
  $custom-color-1-l - 20
);

$custom-color-21: hsl(
  $custom-color-2-h,
  $custom-color-2-s,
  $custom-color-2-l - 15
);

.corp {
  --custom-color-1: #{$custom-color-1};
  --custom-color-2: #{$custom-color-2};
}

.button-primary,
.bcart__button--active::after,
.form__submit,
.slick-active button,
.sservices--v1 .services__title,
.videos__link::after,
.slider-nav .slick-current::after,
.nav--extra.dropdown--opened > .dropdown__toggle,
.to-top__link,
.header--v3 .search__toggle {
  background-color: $custom-color-1;
}
.button-primary,
.form__submit,
.button-secondary,
.slider-nav .slick-current .slider-nav__image,
.form__input:hover {
  border-color: $custom-color-1;
}
a,
.expand__icon,
.button-secondary,
.slick-arrow,
.expand--opened > .expand__toggle,
.dropdown--opened:not(.nav--extra) > .dropdown__toggle,
.footer__emails .connect__text,
.snavigation__link--current,
.dropdown__icon {
  color: $custom-color-1;
}
.connect::before,
.benefits__img,
.products__label--sale,
.news__date,
.popup-search,
.reviews__pic--empty,
.header--v2 .header__bg,
.addresses .dropdown__body .connect__item::before,
.page-header__bg,
.snavigation__toggle,
.snavigation__link--current::before,
thead tr:last-child::after {
  background-color: $custom-color-2;
}
.hero__slider .slick-dots button,
.videos__link::before,
.primary-nav .expand__body,
.primary-nav .dropdown__body,
.header--v2 .bcart__button--active::after {
  border-color: $custom-color-2;
}
.reviews__cat__text,
.reviews__pic__decor,
ol li::before,
ul li::before {
  color: $custom-color-2;
}
.button-primary:hover,
.button-secondary:hover,
.form__submit:hover,
.sservices--v1 .services__link:hover .services__title,
.sservices--v2 .services__link:hover,
.videos__link:hover::after,
.slick-arrow:hover,
.slick-dots button:hover,
.nav--extra:hover > .dropdown__toggle,
.to-top__link:hover,
.socials__link:hover,
.messengers__link:hover,
.header--v3 .search__toggle:hover {
  background-color: $custom-color-hover;
}
.button-primary:hover,
.button-secondary:hover,
.form__submit:hover,
.sservices--v1 .services__link:hover .services__title,
.sservices--v2 .services__link:hover,
.videos__link:hover::after,
.slick-arrow:hover,
.slider-nav__item:hover .slider-nav__image,
.form__input:focus {
  border-color: $custom-color-hover;
}
a:hover,
.hoverable .expand:hover > .expand__toggle,
.search__toggle:hover,
.footer__emails .connect__text:hover {
  color: $custom-color-hover;
}
.button-primary:active,
.button-secondary:active,
.form__submit:active,
.sservices--v1 .services__link:active .services__title,
.sservices--v2 .services__link:active,
.videos__link:active::after,
.slick-arrow:active,
.slick-dots button:active,
.nav--extra .dropdown__toggle:active,
.to-top__link:active,
.socials__link:active,
.messengers__link:active,
.header--v3 .search__toggle:active {
  background-color: $custom-color-active;
}
.button-primary:active,
.button-secondary:active,
.form__submit:active,
.sservices--v1 .services__link:active .services__title,
.sservices--v2 .services__link:active,
.videos__link:active::after,
.slick-arrow:active,
.slider-nav__item:active .slider-nav__image {
  border-color: $custom-color-active;
}
a:active,
.hoverable .expand__toggle:active,
.search__toggle:active,
.footer__emails .connect__text:active {
  color: $custom-color-active;
}
.footer {
  background-color: $custom-color-21;
  background-image: radial-gradient(
    90% 30% at 120% 90%,
    hsla($custom-color-1-h, $custom-color-1-s, $custom-color-1-l, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.header--v2 .mheader__phones .connect::before,
.header--v2 .header__phones .connect::before,
.header--v2 .header__addresses .connect::before {
  background-color: hsla(
    $custom-color-2-h,
    $custom-color-2-s,
    $custom-color-2-l - 15,
    0.5
  );
}
.snavigation__toggle {
  background-image: radial-gradient(
    12% 85% at 100% 7%,
    hsla($custom-color-1-h, $custom-color-1-s, $custom-color-1-l, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
@media (max-width: 575px) {
  .hero__item {
    background-color: $custom-color-2;
  }
}
@media (min-width: 576px) {
  .hero__descr {
    color: $custom-color-2;
  }
}
@media (min-width: 768px) {
  .footer {
    background-image: radial-gradient(
      35% 60% at 50% 128%,
      hsla($custom-color-1-h, $custom-color-1-s, $custom-color-1-l, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
@media (min-width: 1024px) {
  .footer {
    background-image: radial-gradient(
      30% 60% at 60% 120%,
      hsla($custom-color-1-h, $custom-color-1-s, $custom-color-1-l, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
@media (max-width: 1447px) {
  .videos__text {
    background-color: $custom-color-2;
  }
}
