-
  var cats = [
    {
      title: "Дома из клееного бруса",
      pic: require("/src/images/content-images/catalog-1.jpg")
    },
    {
      title: "Каркасные дома",
      pic: require("/src/images/content-images/catalog-2.jpg")
    },
    {
      title: "Дома из пеноблоков",
      pic: require("/src/images/content-images/catalog-3.jpg")
    },
    {
      title: "Кирпичные дома",
      pic: require("/src/images/content-images/catalog-4.jpg")
    },
    {
      title: "Дома из газобетона",
      pic: require("/src/images/content-images/catalog-5.jpg")
    },
    {
      title: "Дома из бревна",
      pic: require("/src/images/content-images/catalog-6.jpg")
    },
    {
      title: "Дома из SIP панелей",
      pic: require("/src/images/content-images/catalog-7.jpg")
    },
    {
      title: "Бани и беседки",
      pic: require("/src/images/content-images/catalog-8.jpg")
    },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic magnam reiciendis quia accusantium blanditiis alias voluptate facilis eos numquam cum, pariatur suscipit inventore, repellat placeat, mollitia laborum! Minus, tenetur quidem.",
    //-   pic: require("/src/images/content-images/cats-2.png")
    //- },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
    //-   pic: require("/src/images/content-images/prods-1.jpg")
    //- }
  ];
.section.categories
  .wrap
    .section__header.cells
      .cell.section__name
        .section__title Мы строим
      //- .cell.section__more
      //-   a.section__link(href="catalog.html") Перейти в каталог
      //-     span.section__link__icon
      //-       include ../../images/inline-svgs/right.svg
    .categories__list
      each elm, index in cats
        .categories__item
          a.categories__link(style="background-image: url(" + elm.pic + ");" href="category.html")
            .categories__title= elm.title
