-
  var menuItems = [
    {
      name: "Компания",
      href: "about.html"
    },
    {
      name: "Магазины",
      href: "contacts.html"
    },
    {
      name: "Новости",
      href: "news.html"
    },
    {
      name: "Статьи",
      href: "articles.html"
    },
    {
      name: "Вопросы и ответы",
      href: "faq.html"
    },
    {
      name: "Видео",
      href: "videos.html"
    },
    {
      name: "Услуги",
      href: "services.html"
    },
    {
      name: "Продукция",
      href: "catalog.html"
    },
    {
      name: "Проекты",
      href: "projects.html"
    },
    {
      name: "Отзывы",
      href: "reviews.html"
    },
    {
      name: "Видео",
      href: "videos.html"
    },
    {
      name: "Контакты",
      href: "contacts.html"
    },
    {
      name: "Пункт меню с длинным названием",
      href: "contacts.html"
    }
  ];
.footer
  .wrap
    .to-top
      a.to-top__link(href="#top", title="Вернуться к началу страницы")
    .cells
      .cell.cell-lg-6
        .nav.footer__nav
          ul.fnav__list
            each item in menuItems
              li.fnav__item
                a.fnav__link(href= item.href)= item.name
      .cell.cell-lg-6
        .cells.footer__connects
          .cell.cell-md-6
            .footer__addresses
              .addresses.connect
                +connectList("addresses")
            .footer__emails
              .emails.connect
                +connectList("emails")
            .footer__socials
              +socials
          .cell.cell-md-6
            .footer__phones
              .phones.connect
                +connectList("phones")
            .footer__messengers
              +messengers
    hr.divider
    .cells.fx-justify-between
      .cell.cell-auto.footer__legal
        .legal__list
          .legal__item
            a.legal__link(href="oferta.html") Договор оферты
          .legal__item
            a.legal__link(href="policy.html") Политика конфиденциальности
          //- .legal__item
          //-   a.legal__link(href="") Публичная оферта
      .cell.cell-auto.footer__copy «Компания с длинным названием» © 2020