- var logoImage = require("/src/images/theme-images/logo-sq.png");
mixin header-var(mvar="mheader--v1", dvar="dheader--v1")
  .header
    include mobile-header.pug
    +mobile-header(class=mvar)
    .dheader(class=dvar)
      .wrap
        .cells.header__top
          .cell.header__top__col.cell-xl-5
            .display-flex.fx-align-center
              nav.header__site-nav.site-nav
                include site-nav.pug
                .site-nav--extra.nav--extra.dropdown
                  button.button.button-icon.dropdown__toggle(title="Показать/скрыть остальные пункты меню")
                    include ../../images/inline-svgs/dots.svg
                  .dropdown__body
                    ul.site-nav__list
              .header__search
                button.search__toggle.button.button-icon
                  include ../../images/inline-svgs/search.svg
          .header__connects.cell.cell-xl-7
            .connects
              .cells.fx-justify-end
                .header__phones.cell.cell-auto
                  .phones.connect
                    if cnncts.phones.length > 1
                      .dropdown
                        a.dropdown__toggle(href="tel:+73517788800")= cnncts.phones[0].number
                          .dropdown__icon
                            include ../../images/inline-svgs/dropdown.svg
                        .dropdown__body
                          +connectList("phones", true)
                          .callback
                            button.button.button-secondary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
                    else
                      +connectList("phones")
                .header__addresses.cell.cell-auto
                  .addresses.connect
                    +connectList("addresses")
        hr.divider
        .header__body
          .cells.fx-align-center
            .header__logo.cell.cell-lg-3
              .logo
                a.logo__link(href="/")
                  .logo__image
                    include ../../images/theme-images/logo.svg
                  //-   img(src= logoImage)
                  //- .logo__text ZE Строй
                .logo__slogan Selling the best goods on Earth since 1900
            .header__primary-nav.cell.cell-lg-8
              nav.primary-nav
                include primary-nav.pug
            .cell.header__bcart.cell-lg-1
              .bcart
                a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                  include ../../images/inline-svgs/cart-icon.svg

