mixin header-var(hvar="header--v1")
  .header(class=hvar)
    include mobile-header.pug
    +mobile-header
    .dheader
      case hvar
        when "header--v1"
          .wrap
            .cells.header__top
              .header__top__col.cell.cell-xl-6
                .display-flex.fx-align-center
                  nav.header__site-nav.site-nav
                    include site-nav.pug
                    .site-nav--extra.nav--extra.dropdown
                      button.button.button-icon.dropdown__toggle(title="Показать/скрыть остальные пункты меню")
                        include ../../images/inline-svgs/dots.svg
                      .dropdown__body
                        ul.site-nav__list
                  .header__search
                    button.search__toggle.button.button-icon
                      include ../../images/inline-svgs/search.svg
              .header__connects.cell.cell-xl-6
                .cells.fx-justify-end.fx-align-center
                  .header__phones.cell.cell-auto
                    +connectsDropdown("phones")
                  .header__addresses.cell.cell-auto
                    +connectsDropdown("addresses")
            hr.divider
            .header__body.cells
              .header__logo.cell.cell-lg-3.cell-xl-4
                .logo
                  +logo
              .header__primary-nav.cell.cell-lg-8
                nav.primary-nav
                  include primary-nav.pug
              .cell.header__bcart.cell-lg-1
                .bcart
                  a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                    include ../../images/inline-svgs/cart-icon.svg
        when "header--v2"
          .header__bg
            .wrap
              .header__body.cells
                .header__logo.cell.cell-lg-3.cell-xl-4
                  .logo
                    +logo
                .header__connects.cell.cell-lg-9.cell-xl-8
                  .header__connects__row
                    .header__addresses.header__connects__col
                      +connectsDropdown("addresses")
                    .header__phones.header__connects__col
                      +connectsDropdown("phones")
                    .header__connects__col.header__callback
                      .callback
                        button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form", data-touch="false") Заказать звонок
              hr.divider
              .cells.header__bottom
                .header__primary-nav.cell
                    nav.primary-nav
                      include primary-nav.pug
                .cell.cell-auto.header__bottom__col
                  .cells
                    .header__search.cell.cell-auto
                      button.search__toggle.button.button-icon
                        include ../../images/inline-svgs/search.svg
                    .cell.cell-auto.header__bcart
                      .bcart
                        a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                          include ../../images/inline-svgs/cart-icon.svg
        default
          .header__bg
            .wrap
              .cells.header__top
                .header__connects.cell
                  .cells.fx-align-center
                    .header__addresses.cell.cell-auto
                      +connectsDropdown("addresses")
                    .header__phones.cell.cell-auto
                      +connectsDropdown("phones")
                .cell.cell-auto.header__socials
                  +socials
                  +messengers
                .cell.cell-auto.header__search
                  button.search__toggle.button.button-icon
                    include ../../images/inline-svgs/search.svg
                  form.search__form.form(action="")
                    label.form__field
                      input.form__input(type="text", name="", placeholder="Введите запрос")
                    button.button-submit.button(type="submit")
                      .button__icon
                        include ../../images/inline-svgs/search.svg
                      .button__body Найти
          .wrap
            .header__body.cells
              .header__logo.cell.cell-lg-3.cell-xl-4
                +logo
              .header__primary-nav.cell.cell-lg-8
                nav.primary-nav
                  include primary-nav.pug
              .cell.header__bcart.cell-lg-1
                .bcart
                  a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                    include ../../images/inline-svgs/cart-icon.svg
