mixin mobile-header
  .mheader(class!=attributes.class)
    .mheader__bg
      .wrap
        .mheader__row
          .mheader__logo
            .logo
              a.logo__link(href="/")
                .logo__image
                  include ../../images/theme-images/logo.svg
                //-   img(src= logoImage)
                //- .logo__text ZE Строй
          .mheader__phones
            .phones.connect
              if cnncts.phones.length > 1
                .dropdown
                  a.dropdown__toggle(href="tel:+73517788800")= cnncts.phones[0].number
                    .dropdown__icon
                      include ../../images/inline-svgs/dropdown.svg
                  .dropdown__body
                    +connectList("phones", true)
                    .callback
                      button.button.button-secondary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
              else
                +connectList("phones", false)
          .mheader__callback
            button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
          .mheader__addresses
            .addresses.connect
              +connectList("addresses", false)
          .mheader__bcart
            .bcart
              a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                include ../../images/inline-svgs/cart-icon.svg
          .mheader__opener
            button.header__opener(title="Показать меню")
              include ../../images/inline-svgs/menu.svg
    .mheader__contents
      .wrap
        .mheader__row
          .mheader__logo
            .logo
              a.logo__link(href="/")
                .logo__image
                  include ../../images/theme-images/logo.svg
                //-   img(src= logoImage)
                //- .logo__text ZE Строй
          button.header__closer(title="Скрыть меню")
            include ../../images/inline-svgs/menu-close.svg
      hr.divider
      .wrap.mheader__contents__wrap
        nav.primary-nav
          include primary-nav.pug
        .search
          form.search__form.form(action="")
            label.form__field
              input.form__input(type="text", name="", placeholder="Введите запрос")
            button.form__submit.button(type="submit")
              .search__icon
                include ../../images/inline-svgs/search.svg
              .search__text Найти
        .phones.connect
          +connectList("phones")
        .mheader__messengers
          +messengers
        .addresses.connect
          +connectList("addresses")
        .emails.connect
          +connectList("emails")
        +socials