mixin mobile-header
  .mheader
    .header__bg
      .wrap
        .header__row.cells
          .header__logo.cell
            +logo
          .header__contacts.cell
            .cells.fx-align-center.fx-justify-center
              .header__phones.cell.cell-auto
                +connectsDropdown("phones")
              .header__callback.cell.cell-auto
                button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form", data-touch="false") Заказать звонок
              .header__addresses.cell
                +connectsDropdown("addresses")
          .cell.cell-auto
            .cells.fx-align-center
              .header__bcart.cell.cell-auto
                .bcart
                  a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                    include ../../images/inline-svgs/cart-icon.svg
              .cell.cell-auto
                button.header__opener(title="Показать меню")
                  include ../../images/inline-svgs/menu.svg
    .header__contents
      .wrap
        .header__row.cells
          .header__logo.cell
            +logo
          .cell.cell-auto
            button.header__closer(title="Скрыть меню")
              include ../../images/inline-svgs/menu-close.svg
      hr.divider
      .wrap.header__contents__wrap
        nav.primary-nav
          include primary-nav.pug
        .search
          form.search__form.form(action="")
            label.form__field
              input.form__input(type="text", name="", placeholder="Введите запрос")
            button.button-submit.button(type="submit")
              span.button__icon
                include ../../images/inline-svgs/search.svg
              span.button__body Найти
        .connect.phones
          +connectList("phones")
        .header__messengers
          +messengers
        .connect.addresses
          +connectList("addresses")
        .connect.emails
          +connectList("emails")
        +socials