-
  var nws = [
    {
      title: "В традициях добра",
      text: "500-тысячная кухня от «Марии» подарена благотворительному фонду «Добрый дом».",
      pic: require("/src/images/content-images/news-1.jpg"),
      date: "12 дек."
    },
    {
      title: "Egger обнародовал ключевые результаты деятельности",
      text: "В 2019/2020 финансовом году концерн продемонстрировал высокую стабильность.",
      pic: require("/src/images/content-images/news-1.jpg"),
      date: "1 мая"
    },
    {
      title: "Хватит тянуть!",
      text: "Яркие новинки PUSH-TO-OPEN российской компании Боярд ",
      pic: require("/src/images/content-images/cats-3.jpg"),
      date: "28 фев."
    }
  ];
.section.b-news
  .wrap
    .section__header.cells
      .cell.cell-auto
        .section__title Новости
      .cell.cell-auto
        a.section__link(href="news.html") Все новости
          span.section__link__icon
            include ../../images/inline-svgs/right.svg
    .cells.b-news__list
      each elm, index in nws
        .cell.cell-4
          .b-news__item
            a.b-news__image(href="news-item.html")
              img(src=elm.pic)
            .b-news__text
              a.b-news__title(href="news-item.html")= elm.title
              .b-news__descr= elm.text
              .b-news__date= elm.date
