// Всплывашка с поиском
.popup-search#popup-search
  .wrap
    .cells.popup-search__row
      .cell.cell-auto.cell-xl-1
        .popup-search__label Поиск
      .cell.cell-auto.cell-xl-10.popup-search__body
        form#form_id.search__form.form(action="")
          label.form__field
            input.form__input(type="text", name="", placeholder="Введите запрос", tabindex="-1")
          button.button-submit.button(type="submit", tabindex="-1")
            span.button__icon
              include ../../images/inline-svgs/search.svg
            span.button__body Найти
      .cell.cell-auto.cell-xl-1
        button.button.button-icon.search__close(title="Закрыть форму поиска", tabindex="-1", form="form_id", type="button")
// Обратный звонок
.fancy-form.display-none#callback-form
  form(action="").custom-form.collapsing-form
    .form__header
      .form__title Заказать звонок
      .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
      .form__message
        .form__success
          .form__message__text Ваша заявка успешно отправлена!
    .form__bg
      .form__body
        label.form__field
          span.form__label Ваше имя
          input.form__input(type="text")
        label.form__field.form__field--required
          span.form__label Телефон
          input.form__input(type="tel", required)
        .form__submit
          button.button.button-submit(type="submit") Отправить
        .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
          a(href="policy.html") условиями обработки персональных данных
// Всплывающее сообщение об успешно добавленном в корзину товаре
.notification#product-added
  .notification__row
    .notification__icon
      include ../../images/inline-svgs/tick.svg
    .notification__body
      .notification__title Товар добавлен в корзину
      .notification__text Поролон мебельный ST 2236 (1,6х2м) толщина 10мм