-
  var prds = [
    {
      pic: [
        require("/src/images/content-images/prods-1.jpg"),
        require("/src/images/content-images/prods-2.jpg"),
        require("/src/images/content-images/prods-3.jpg")
      ],
      title: "Металлочерепица ZE Строй «Монтеррей», разная расцветка",
      sale: false,
      cat:"Металлочерепица",
      price: "150 rur",
      oprice: "250 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-2.jpg"),
        require("/src/images/content-images/services-2.jpg"),
        require("/src/images/content-images/services-3.jpg"),
        require("/src/images/content-images/services-4.jpg"),
        require("/src/images/content-images/services-5.jpg")
      ],
      title: "Арматура 10 мм",
      sale: true,
      cat: "Арматура",
      price: "15 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-3.jpg"),
        require("/src/images/content-images/bens-2.png")
      ],
      title: "Утеплитель ZE Строй «Коттедж +», упаковка",
      sale: false,
      cat: "Теплоизоляция",
      price: "10 900 rur",
      oprice: "125 980 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-4.jpg"),
        require("/src/images/content-images/cats-2.png")
      ],
      title: "Плита ЦСП 2700х1250х16 мм",
      sale: false,
      cat: "Цементно-стружечные плиты (ЦСП)",
      price: "5 900 rur",
      oprice: "25 980 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-5.jpg")
      ],
      title: "Фанера хвойная ФСФ, сорт 3/3, 6,5 мм",
      sale: true,
      cat: "Фанера",
      price: "900 rur",
      oprice: "3 980 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-3.jpg"),
        require("/src/images/content-images/promo-desk-2.jpg")
      ],
      title: "Нормальный двутавр 20Б1 ~ 60Б1(Б2)",
      sale: false,
      cat: "Двутавр",
      price: "15 900 rur",
      oprice: "525 980 rur"
    },
    {
      title: "PIR Плита ZE Строй (Ф/Ф) L–кромка,2400х1200х30 мм",
      sale: false,
      cat: "Теплоизоляция",
      price: "1 155 900 rur",
      oprice: "1 425 980 rur"
    },
    {
      pic: [
        require("/src/images/content-images/prods-2.jpg")
      ],
      title: "Водосточная система ZE Строй «Премиум»",
      sale: false,
      cat: "Водосточные системы"
    }
  ];

.section.sproducts
  .wrap
    +section-header("Продукция собственного производства")
    .products__list
      each itm in prds
        .products__item
          .products__images
            .products__images__list
              if itm.pic
                each pic in itm.pic
                  .products__images__item
                    a.products__images__link(href="product.html")
                      img(src= pic)
          .products__body
            .products__cat= itm.cat
            a.products__title(href="product.html")= itm.title
            .products__action.cells
              .products__prices.cell.cell-auto
                .products__prices__old= itm.oprice
                .products__prices__new= itm.price
              .products__button.cell.cell-auto
                button.button.button-primary
                  span.button__body Заказать
                  span.button__loader

