.section.sabout
  .wrap
    .cells
      // if about.text
      .cell.cell-md-6.sabout__text
        .section__title О компании
        .sabout__intro
          | Иметь собственный частный дом и обустроить в нем все согласно своим вкусовым пристрастиям,
          | наверное, мечтает каждый. Неважно, большим или маленьким он будет,
          | главное − создать индивидуальную, неповторимую атмосферу домашнего уюта.
          | Компания «ZE Строй» предлагает воплотить мечту в реальность.
          | Мы построим качественное, отвечающее всем вашим представлениям
          | о гармоничной организации пространства, жилье.
        .section__goto
          a.goto__link(href="") Узнать больше
            .goto__icon
              include ../../images/inline-svgs/section-header-link.svg
      // if about.image
      .cell.cell-md-6.sabout__illustration
        .sabout__image
          img(src=require("/src/images/content-images/about-1.png"), loading="lazy")
          //- img(src=require("/src/images/content-images/cats-2.png"))
          //- img(src=require("/src/images/content-images/promo-desk.jpg"))
      // if about.benefits
      .cell.sabout__bens
        .benefits__list.cells
          each item in bens
            +benefit-item(item)(class="cell cell-sm-6 cell-md-4 cell-lg-3")
