.section.svideos
  .wrap
    .cells
      .cell.cell-md-6.cell-lg-5
        .h2 Надежный дом за один сезон «под ключ»
        .section__intro
          | Мы строим дома, создаем будущее в лучшем виде. Мы знаем и любим свое дело.
          | Позвольте показать наши возможности, доказать, что строительство &mdash;
          | это увлекательный и радостный процесс, результат которого превзойдет ваши ожидания!
        .section__goto
          a.button.button-secondary(href="video.html") Смотреть все видео
      .cell.cell-md-6.cell-lg-7
        .cards__list--accented1
          +video-item(vds[0])