.section.scategories
  .wrap
    +section-header("Строительные материалы №2")
    .categories__list.cells.categories__list--v2
      each elm in cats
        +category-item-2(elm)(class="cell cell-lg-6")
