.section.sproducts
  .wrap
    +section-header("Продукция собственного производства")
    .products__list.cells
      each itm, index in prds
        if index < 8
          +product-item(itm)(class="cell cell-sm-6 cell-md-4 cell-xl-3")
    .section__button
      a.button.button-secondary(href="catalog.html") Смотреть в каталоге

