-
  var cats = [
    {
      title: "Кровельные материалы",
      pic: require("/src/images/content-images/cats-1.jpg")
    },
    {
      title: "Металлопрокат",
      pic: require("/src/images/content-images/cats-2.jpg")
    },
    {
      title: "Изоляционные материалы",
      pic: require("/src/images/content-images/cats-3.jpg")
    },
    {
      title: "Строительные плиты",
      pic: require("/src/images/content-images/cats-4.jpg")
    },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic magnam reiciendis quia accusantium blanditiis alias voluptate facilis eos numquam cum, pariatur suscipit inventore, repellat placeat, mollitia laborum! Minus, tenetur quidem.",
    //-   pic: require("/src/images/content-images/cats-2.png")
    //- },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
    //-   pic: require("/src/images/content-images/prods-1.jpg")
    //- }
  ];
.section.scategories.scategories--v1
  .wrap
    +section-header("Строительные материалы")
    .categories__list.cells
      each elm, index in cats
        .categories__item.cell.cell-sm-6.cell-lg-4.cell-xl-3
          .categories__bg
            a.categories__link(href="category.html")
              .categories__image
                img(src=elm.pic)
              .categories__body
                .categories__title= elm.title
