-
  var rvws = [
    {
      title: "Ольга",
      text: "Мы с мужем обращались в компанию «ZE Строй», чтобы заказать строительство загородного дома. Предложили специалистам готовый проект, купленный в Интернете. Как выяснилось, в нем было много ошибок, но инженеры его доработали. В итоге готовый дом, возведенный профессионалами, оказался идеальным во всех отношениях.",
      pics: require("/src/images/content-images/reviews-1.jpg"),
      date: "12.12.2020",
      cat: "Дом из клееного бруса"
    },
    {
      title: "Наталья",
      text: "Просто огромное спасибо! Теперь этот диван - сердце нашей гостиной! Очарователен, крайне удобен. Механизм надежный. Отдельная благодарность, что не подвели со сроками.",
      pics: require("/src/images/content-images/cats-2.png"),
      date: "15.04.2019"
    },
    {
      title: "Анатолий Петрович",
      pics: require("/src/images/content-images/prods-1.jpg"),
      text: "Хотела оставить исключительно положительный отзыв о работе магазина, от заказа товара до его доставки. Осталось приятное впечатление от профессионализма менеджера магазина Ольги при выборе дивана, с которой обсуждены были все нюансы. Товар был заказан 12 ноября, причем без каких-либо предоплат и доставлен 03 декабря, точно в срок, который был изначально согласован. Оплачены были отдельно доставка, подъем. Осталось приятное впечатление от профессионализма менеджера магазина.",
      cat: "Дом из клееного бруса Дом из клееного бруса Дом из клееного бруса Дом из клееного бруса"
    },
    {
      title: "Наталья",
      text: "Просто огромное спасибо! Теперь этот диван - сердце нашей гостиной! Очарователен, крайне удобен. Механизм надежный. Отдельная благодарность, что не подвели со сроками.",
      date: "15 апр. 2019"
    },
    {
      text: "Хотела оставить исключительно положительный отзыв о работе магазина, от заказа товара до его доставки. Осталось приятное впечатление от профессионализма менеджера магазина Ольги при выборе дивана, с которой обсуждены были все нюансы. Товар был заказан 12 ноября, причем без каких-либо предоплат и доставлен 03 декабря, точно в срок, который был изначально согласован. Оплачены были отдельно доставка, подъем. Осталось приятное впечатление от профессионализма менеджера магазина."
    }
  ];
.section.sreviews
  .wrap
    +section-header("Отзывы", "Все отзывы", "reviews.html")
    .reviews__list.reviews__slider.slider
      each elm in rvws
        .reviews__item
          .reviews__bg
            .reviews__meta
              if elm.cat
                .reviews__cat
                  .reviews__cat__text= elm.cat
              .reviews__pic(class={"reviews__pic--empty": !elm.pics})
                if elm.pics
                  img(src= elm.pics)
                .reviews__pic__decor
                  include ./../../images/inline-svgs/reviews-decor.svg
              .reviews__personal
                .reviews__date= elm.date
                .reviews__name= elm.title
            .reviews__text= elm.text
