.section.scategories
  .wrap
    +section-header("Строительные материалы")
    .categories__list.cells.categories__list--v1
      each elm in cats
        +category-item-1(elm)(class="cell cell-sm-6 cell-lg-4 cell-xl-3")
