.section.svideos
  .wrap
    +empty
    .cells
      .cell.cell-md-6.cell-lg-5
        .h2 Надежный дом за один сезон «под ключ»
        .section__intro
          | Мы строим дома, создаем будущее в лучшем виде. Мы знаем и любим свое дело.
          | Позвольте показать наши возможности, доказать, что строительство &mdash;
          | это увлекательный и радостный процесс, результат которого превзойдет ваши ожидания!
        .section__goto
          a.button.button-secondary(href="video.html") Смотреть все видео
      .cell.cell-md-6.cell-lg-7
        each itm, index in vds
          if index == 0
            .videos__item
              .icard
                a.videos__link(href="https://www.youtube.com/watch?v=" + itm.link)
                  .videos__cover(style="background-image: url(" + itm.cover + ")")
                .icard__body
                  .card__name= itm.title
                  .card__descr= itm.descr
                .videos__content
                  iframe(width="560", height="315", src= "https://www.youtube.com/embed/" + itm.link, title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)