.section.snews
  .wrap
    +section-header("Новости", "Все новости", "news.html")
    .cells.news__list
      each item, index in nws
        if index < 3
          +news-item(item)(class="cell cell-sm-6 cell-md-4")
