-
  var cats = [
    {
      title: "Дома из клееного бруса",
      pic: require("/src/images/content-images/services-1.jpg")
    },
    {
      title: "Каркасные дома",
      pic: require("/src/images/content-images/services-2.jpg")
    },
    {
      title: "Дома из пеноблоков",
      pic: require("/src/images/content-images/services-3.jpg")
    },
    {
      title: "Кирпичные дома",
      pic: require("/src/images/content-images/services-4.jpg")
    },
    {
      title: "Дома из газобетона",
      pic: require("/src/images/content-images/services-5.jpg")
    },
    {
      title: "Дома из бревна",
      pic: require("/src/images/content-images/services-6.jpg")
    },
    {
      title: "Дома из SIP панелей",
      pic: require("/src/images/content-images/services-7.jpg")
    },
    {
      title: "Бани и беседки",
      pic: require("/src/images/content-images/services-8.jpg")
    },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic magnam reiciendis quia accusantium blanditiis alias voluptate facilis eos numquam cum, pariatur suscipit inventore, repellat placeat, mollitia laborum! Minus, tenetur quidem.",
    //-   pic: require("/src/images/content-images/cats-2.png")
    //- },
    //- {
    //-   title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
    //-   pic: require("/src/images/content-images/prods-1.jpg")
    //- }
  ];
.section.sservices.sservices--v1
  .wrap
    +section-header("Мы строим")
    .services__list.cells
      each elm, index in cats
        .services__item.cell.cell-sm-6.cell-xl-4
          a.services__link(style="background-image: url(" + elm.pic + ");" href="service.html")
            .services__title= elm.title
