-
  var menuItems = [
    {
      name: "Компания",
      href: "about.html",
      active: false
    },
    {
      name: "Новости",
      href: "news.html",
      active: false
    },
    {
      name: "Статьи",
      href: "articles.html",
      active: false
    },
    {
      name: "Вопросы и ответы",
      href: "faq.html",
      active: false
      },
    {
      name: "Видео",
      href: "video.html",
      active: false
    }
  ];
ul.site-nav__list
  each val in menuItems
    li.site-nav__item
      a.site-nav__link(class = {"site-nav__link--active" : val.active} href= val.href)= val.name