.sabout {
  background: $color-bg;

  .section__title {
    margin-bottom: 1.25rem;
  }
}
.sabout__intro {
  font-size: 1rem;
  margin-bottom: 0.875rem;
}
.sabout__image {
  margin-bottom: 2rem;
}
@media (min-width: $break-md) {
  .sabout__intro {
    font-size: 1.0625rem;
  }
}
@media (min-width: $break-lg) {
  .sabout {
    .section__title {
      margin-bottom: 1.5rem;
    }
    .benefits__list:last-child {
      margin-bottom: -2.4385rem;
    }
    .benefits__item {
      margin-bottom: 2.375rem;
    }
  }
  .sabout__intro {
    font-size: 1.125rem;
    margin-bottom: 2.375rem;
  }
  .sabout__image,
  .sabout__bens {
    margin-top: 4.125rem;
  }
  .sabout__image {
    margin-bottom: 0;
  }
}
