.articles-nav__item {
  margin-bottom: 1.875rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.articles-nav__cover {
  margin-bottom: 0.875rem;
  position: relative;
}
.articles-nav__image {
  display: block;
  overflow: hidden;
  width: 100%;
  padding-bottom: 54.6%;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.articles-nav__date {
  background: $color-text1;
  border-radius: $brad-1;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.articles-nav__name {
  display: block;
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
}
.articles__item:first-child {
  .icard__image::before {
    @extend .label;
    content: "Полезно знать";
    font-size: 0.875rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    max-width: calc(100% - 2.5rem);
    z-index: 1;
  }
}
.article__gallery {
  margin-top: 1.5rem;
  margin-bottom: 0.375rem;
}
.agallery__image {
  margin-bottom: 1.125rem;
}
.agallery__link {
  display: block;
  border-radius: $brad-1;
  overflow: hidden;
  padding-bottom: 70%;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: contain;
  }
}
@media (min-width: $break-md) {
  .articles__list .cards__item:first-child {
    flex-basis: 66.6667%;
    max-width: 66.6667%;
  }
}
@media (min-width: $break-lg) {
  .articles__list .cards__item:first-child {
    .icard__image {
      border-radius: $brad-3;
      height: 100%;

      &::before {
        top: 2.5rem;
        left: 2.5rem;
        max-width: calc(100% - 5rem);
      }
    }
    .icard__image::after {
      content: "";
      background: linear-gradient(360deg, #3c3c3c 0%, rgba(65, 65, 65, 0) 100%);
      border-radius: $brad-3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .icard .icard__body {
      background-color: transparent;
      border-color: transparent;
      padding: 2.5rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .card__name {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .card__text {
      font-size: 0.8125rem;
    }
  }
  .article__gallery {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }
  .agallery__image {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: $break-xl) {
  .articles__list .cards__item:first-child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: $break-desk) {
  .articles-nav {
    margin-left: 2.75rem;
  }
}
