.benefits__list {
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: -1.1875rem;
    padding-bottom: 1px;
  }
}
.benefits__item {
  @extend %fx-centered-y;
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.9375rem;
  margin-bottom: 1.125rem;
  position: relative;
}
.benefits__img {
  flex: 0 0 3.125rem;
  background: $color-bg;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  max-width: 3.125rem;
  margin-right: 0.75rem;
  overflow: hidden;

  img {
    max-height: 100%;
  }
}
