.section.benefits {
  padding-bottom: 0;
}

.benefits__list {
  margin-bottom: 0.75rem;
}
.benefits__item {
  @extend %fx-centered-y;
  align-items: flex-start;
  color: $color-textHeader;
  font-weight: bold;
  margin-bottom: 1.125rem;
  position: relative;
}
.benefits__img {
  flex: 0 0 2.75rem;
  background: $color-bg;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
  max-width: 2.75rem;
  margin-right: 0.75rem;
  overflow: hidden;

  img {
    max-height: 1.25rem;
    max-width: 1.25rem;
  }
}
@media (min-width: $break-md) {
  .benefits__item {
    margin-bottom: 1.75rem;
  }
  .sabout__bens {
    .benefits__item {
      margin-bottom: 1.25rem;
    }
  }
}
@media (min-width: $break-lg) {
  .benefits {
    padding-top: 1.75rem;
    padding-bottom: 1.8125rem;
  }
  .benefits__list {
    margin-bottom: 0;
  }
  .benefits__img {
    flex-basis: 3.625rem;
    max-width: 3.625rem;
    height: 3.625rem;
    margin-right: 1rem;

    img {
      max-width: 2.125rem;
      max-height: 2.125rem;
    }
  }
  .sabout__bens {
    .benefits__item {
      margin-bottom: 1.5rem;
    }
  }
}
@media (min-width: $break-xl) {
  .benefits__cell {
    flex-basis: 20%;
    max-width: 20%;
  }
}
