.card__list {
  align-items: stretch;
}
.card {
  font-size: 0.875rem;
  margin-bottom: 1.125rem;
}
.icard,
.card__outline {
  border: 1px solid $color-sep;
  border-radius: $brad-3;
  display: block;
  height: 100%;
  line-height: 1.45;
  overflow: hidden;
}
.card__outline {
  padding: 1.25rem;
}
.card__image,
.card__text,
.card__name,
.card__connect {
  &:last-child {
    margin-bottom: 0;
  }
}
.card__image,
.card__text,
.card__subtitle {
  margin-bottom: 1rem;
}
.card__image,
.icard__image {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.card__image {
  border-radius: $brad-1;

  img {
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.card__name,
.card__connect {
  margin-bottom: 0.5rem;
}
.card__name {
  color: $color-textHeader;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.35;
}
.card__connect {
  @extend %fx-centered-y;
  color: $color-textHeader;
  font-weight: 600;
}
.card__connect__icon {
  flex-shrink: 0;
  margin-right: 0.75rem;
}
.card__connect__value {
  color: inherit;
}
.card__email,
.card__link {
  word-break: break-all;
}
.icard {
  font-size: 0.75rem;
}
.icard__body {
  padding: 1.25rem;
  position: relative;
}
.icard__image {
  padding-bottom: 54.6%;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.icard__date {
  background: $color-text2;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.1875rem 0.375rem;
  position: absolute;
  top: 0;
  left: 1.25rem;
  transform: translate(0, -50%);
}
@media (min-width: $break-sm) {
  .card__outline {
    display: flex;
    flex-direction: column;
  }
  .card__connects {
    margin-top: auto;
  }
}
@media (min-width: $break-md) {
  .card__subtitle {
    margin-bottom: 1.675rem;
  }
  .card__connects {
    font-size: 0.75rem;
  }
  .card__connect__icon {
    margin-right: 0.5rem;
  }
  .icard__body {
    padding-top: 1.3125rem;
  }
}
@media (min-width: $break-lg) {
  .card {
    margin-bottom: 1.5rem;
  }
  .card__image {
    margin-bottom: 1.25rem;
  }
  .card__name {
    margin-bottom: 0.625rem;

    .icard & {
      font-size: 1rem;
    }
  }
  .card__text {
    margin-bottom: 1.5rem;
  }
  .icard__date {
    padding: 0.25rem 0.5rem;
    left: 1.5rem;
    transform: translate(0, -50%);
  }
  .icard__body {
    padding: 1.5rem;
  }
  .icard__descr {
    font-size: 0.875rem;
  }
}
@media (min-width: $break-xl) {
  .card__outline {
    padding: 1.875rem 1.875rem 2rem;
  }
  .card__image {
    margin-bottom: 1.25rem;
  }
  .card__name {
    font-size: 1rem;
  }
  .card__connects {
    font-size: 0.875rem;
  }
  .card__connect {
    margin-bottom: 0.5625rem;
  }
  .card__connect__icon {
    margin-right: 0.625rem;
  }
  .icard__body {
    padding: 1.5rem 2.5rem 2.5rem;
  }
  .icard__date {
    left: 2.5rem;
  }
}
