.cards__list {
  align-items: stretch;
}
.cards__item {
  margin-bottom: 1.125rem;
}
.icard,
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.45; // articles
  // line-height: 1.4; // video
  position: relative;
}
.card {
  border: 1px solid $color-sep;
  border-radius: $brad-3;
  font-size: 0.875rem;
  padding: 1.25rem;
}
.card__image,
.card__text,
.card__name,
.card__connect {
  &:last-child {
    margin-bottom: 0;
  }
}
.card__image,
.card__text,
.card__subtitle {
  margin-bottom: 1rem;
}
.card__image,
.icard__image {
  @extend .constrained-image;
}
.card__image {
  border-radius: $brad-1;
}
.card__body,
.icard__body {
  flex: 1 0 auto;
}
.card__name,
.card__connect {
  margin-bottom: 0.5rem;
}
.card__name {
  color: $color-textHeader;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.35;
}
.card__connect {
  @extend %fx-centered-y;
  color: $color-textHeader;
  font-weight: 600;
}
.card__connect__icon {
  flex-shrink: 0;
  margin-right: 0.75rem;
}
.card__connect__value {
  color: inherit;
}
.card__email,
.card__link {
  word-break: break-all;
}
.icard {
  font-size: 0.75rem;
}
.icard__body {
  border: 1px solid $color-sep;
  border-top-width: 0;
  border-radius: 0 0 $brad-3 $brad-3;
  padding: 1rem 1.25rem 1.25rem;
  position: relative;

  .cards__item--dated & {
    padding-top: 1.25rem;
  }
}
.icard__image {
  border-radius: $brad-3 $brad-3 0 0;
  padding-bottom: 54.6%;

  img {
    object-fit: cover;
  }
}
.card__date {
  @extend .label;
  display: inline-block;
  font-weight: 600;
  padding: 0.1875rem 0.375rem;
  position: absolute;
  top: 0;
  left: 1.25rem;
  max-width: calc(100% - 2.5rem);
  transform: translate(0, -50%);
}
.cards__list--accented1 .cards__item:first-child {
  .icard {
    font-size: 0.875rem;
  }
  .icard__body {
    background-color: $color-text1;
    color: #fff;
  }
  .card__name {
    color: inherit;
    font-size: 0.9375rem;
  }
}
@media (min-width: $break-sm) {
  .card__connects {
    margin-top: auto;
  }
}
@media (min-width: $break-md) {
  .card__subtitle {
    margin-bottom: 1.675rem;
  }
  .card__connects {
    font-size: 0.75rem;
  }
  .card__connect__icon {
    margin-right: 0.5rem;
  }
}
@media (min-width: $break-lg) {
  .cards__item {
    margin-bottom: 1.5rem;
  }
  .card__image {
    margin-bottom: 1.25rem;
  }
  .card__name {
    margin-bottom: 0.625rem;

    .icard & {
      font-size: 1rem;
    }
  }
  .card__text {
    margin-bottom: 1.5rem;
  }
  .card__date {
    padding: 0.25rem 0.5rem;
    left: 1.5rem;
    max-width: calc(100% - 3rem);
    transform: translate(0, -50%);
  }
  .icard__body {
    padding: 1rem 1.5rem 1.5rem;
  }
  .icard .card__text {
    font-size: 0.875rem;
  }
  .cards__list--accented1 .cards__item:first-child {
    .card__name {
      font-size: 1.125rem;
    }
  }
  .cards__item--dated .icard__body {
    padding: 1.5rem;
  }
}
@media (min-width: $break-xl) {
  .card {
    padding: 1.875rem 1.875rem 2rem;
  }
  .card__image {
    margin-bottom: 1.25rem;
  }
  .card__name {
    font-size: 1rem;
  }
  .card__connects {
    font-size: 0.875rem;
  }
  .card__connect {
    margin-bottom: 0.5625rem;
  }
  .card__connect__icon {
    margin-right: 0.625rem;
  }
  .icard__body {
    padding: 1.125rem 1.875rem 1.875rem;
  }
  .card__date {
    left: 2.5rem;
    max-width: calc(100% - 5rem);
  }
  .cards__list--accented1 .cards__item:first-child {
    flex-basis: 50%;
    max-width: 50%;

    .videos__link,
    .videos__cover,
    .videos__content,
    .icard__image {
      border-radius: $brad-3;
      height: 100%;
    }
    .icard__image::after {
      content: "";
      background: linear-gradient(360deg, #3c3c3c 0%, rgba(65, 65, 65, 0) 100%);
      border-radius: $brad-3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .videos__link::after {
      background-size: 19px 20px;
      height: 4.875rem;
      width: 4.875rem;
      outline-offset: 1rem;
    }
    .videos__link::before {
      height: 7rem;
      width: 7rem;
    }
    .icard .icard__body {
      background-color: transparent;
      border-color: transparent;
      padding: 2.5rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .card__name {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .card__text {
      font-size: 0.8125rem;
    }
  }
}
@media (min-width: $break-desk) {
  .cards__item--dated .icard__body {
    padding: 1.5rem 2.5rem 2.5rem;
  }
}
