.scategories {
  background: $color-bg;
  border-bottom: 1px solid $color-sep;
}
.categories__list {
  margin-bottom: 0.75rem;
}
.categories__item {
  margin-bottom: 1.125rem;
}
.categories__bg {
  background: #fff;
  border: 1px solid $color-sep;
  border-radius: $brad-3;
  color: $color-textHeader;
  height: 100%;
  overflow: hidden;

  .scategories & {
    border-width: 0;
  }
}
.categories__image {
  display: block;
  width: 100%;
  padding-bottom: 61.8%;
  overflow: hidden;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.7;
  }
}
.categories__link {
  display: block;
  color: inherit;
  line-height: 1.2;

  &:hover {
    .categories__title {
      text-decoration: underline;
    }
  }
  &:focus-visible .categories__body {
    outline: 2px dotted currentColor;
    outline-offset: -0.5rem;
  }
}
.categories__list--v1 {
  justify-content: center;

  .categories__link {
    text-align: center;
  }
  .categories__title {
    font-weight: 800;
  }
  .categories__body {
    padding: 1.25rem;
  }
}
.categories__list--v2 {
  .section__title {
    text-align: left;
  }
  .categories__bg {
    padding: 1.25rem;
  }
  .categories__image {
    border-radius: $brad-1;
    margin-bottom: 1.25rem;
  }
  .categories__title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
}
.subcats__list {
  color: $color-text1;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.subcats__item {
  margin: 0;
  padding: 0;

  &::before {
    content: none;
  }
}
.subcats__link {
  color: inherit;
  display: inline-block;
  font-weight: 500;
  line-height: 1.3;
  padding: 0.33rem 0;
}
.subcats__item::after {
  content: "\2014";
  display: inline-block;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.subcats__item:last-child:after {
  content: none;
}
@media (min-width: $break-sm) {
  .categories__list--v2 {
    .categories__image {
      margin-bottom: 0;
    }
  }
}
@media (min-width: $break-md) {
  .categories__list--v2 {
    .categories__body {
      margin-top: 0.25rem;
    }
  }
  .categories__list--v1 .categories__body {
    padding-bottom: 1.4375rem;
  }
}
@media (min-width: $break-lg) {
  .categories__item {
    margin-bottom: 1.5rem;
  }
  .categories__title {
    font-size: 1.125rem;
  }
  .categories__list--v1 {
    .categories__body {
      padding: 1.875rem 1.5rem;
    }
    .categories__title {
      line-height: 1.3;
    }
  }
  .categories__list--v2 {
    .categories__bg {
      padding: 1.875rem 1.875rem 1.5rem;
    }
    .categories__body {
      margin-top: 0;
    }
    .categories__title {
      font-size: 1.125rem;
    }
  }
}
@media (min-width: $break-xl) {
  .categories__list--v2 {
    .categories__bg {
      padding: 2.5rem 2.5rem 2.3125rem;

      .cell-sm-4 {
        flex-basis: 37%;
        max-width: 37%;
      }

      .cell-sm-8 {
        flex-basis: 63%;
        max-width: 63%;
        padding-left: 1.125rem;
      }
    }
    .categories__title {
      margin-bottom: 0.875rem;
    }
  }
}
