.scategories {
  background: $color-bg;
  border-top: 1px solid $color-sep;
  border-bottom: 1px solid $color-sep;
}
.categories__list {
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: -1.1875rem;
    padding-bottom: 1px;
  }
}
.categories__item {
  color: $color-textHeader;
  margin-bottom: 1.125rem;
}
.categories__image {
  display: block;
  border-radius: $brad-3 $brad-3 0 0;
  width: 100%;
  padding-bottom: 61.8%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.7;
  }
}
.categories__link {
  display: block;
  background: #fff;
  color: inherit;
  padding: 1.125rem 1.25rem 1.25rem;
  text-align: center;

  &:hover {
    .categories__title {
      text-decoration: underline;
    }
  }
}
.categories__title {
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 1.2;
  transition: background-color 0.4s;
}
