.cert__bg {
  padding-bottom: 2.25rem;
  position: relative;
}
.fdown {
  display: inline-flex;

  &::before {
    content: "";
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100% 100%;
    height: 2.5rem;
    width: 2.375rem;
    margin-right: 1rem;
  }
  &--jpg::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='40' viewBox='0 0 38 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.23529 40H35.7647C36.9992 40 38 38.9992 38 37.7647V20V10.9272C38 10.3301 37.7798 9.75405 37.3815 9.30924L29.0465 0H20.5H5.23529C4.00078 0 3 1.00077 3 2.23529V37.7647C3 38.9992 4.00078 40 5.23529 40Z' fill='%23EDEDED'/%3E%3Cpath d='M29 10L29.0798 0L38 10H29Z' fill='%23D3D3D3'/%3E%3Cpath d='M0 17C0 15.3431 1.34315 14 3 14H24C25.6569 14 27 15.3431 27 17V23C27 24.6569 25.6569 26 24 26H3C1.34315 26 0 24.6569 0 23V17Z' fill='%23E8903F'/%3E%3Cpath d='M7.00168 23.635C7.34968 23.635 7.66618 23.5645 7.95118 23.4235C8.23618 23.2825 8.46718 23.0575 8.64418 22.7485C8.76718 22.5355 8.83318 22.33 8.84218 22.132C8.85418 21.931 8.86018 21.6805 8.86018 21.3805V17.02H7.76218V21.3805C7.76218 21.5575 7.75768 21.7135 7.74868 21.8485C7.74268 21.9805 7.71868 22.0945 7.67668 22.1905C7.60768 22.3405 7.50268 22.45 7.36168 22.519C7.22068 22.585 7.08718 22.618 6.96118 22.618C6.76918 22.618 6.59368 22.552 6.43468 22.42C6.27568 22.288 6.17968 22.1305 6.14668 21.9475L5.07568 22.204C5.20768 22.639 5.43718 22.987 5.76418 23.248C6.09118 23.506 6.50368 23.635 7.00168 23.635ZM10.2145 23.5H11.299V21.2365H12.892C12.952 21.2365 13.0315 21.2335 13.1305 21.2275C13.2325 21.2215 13.3255 21.2125 13.4095 21.2005C13.9675 21.1135 14.3815 20.881 14.6515 20.503C14.9245 20.122 15.061 19.6645 15.061 19.1305C15.061 18.5935 14.926 18.136 14.656 17.758C14.389 17.377 13.9735 17.143 13.4095 17.056C13.3255 17.041 13.234 17.032 13.135 17.029C13.036 17.023 12.955 17.02 12.892 17.02H10.2145V23.5ZM11.299 20.224V18.037H12.847C12.907 18.037 12.9745 18.04 13.0495 18.046C13.1245 18.052 13.1935 18.0625 13.2565 18.0775C13.4365 18.1225 13.5775 18.2035 13.6795 18.3205C13.7845 18.4345 13.858 18.5635 13.9 18.7075C13.945 18.8515 13.9675 18.9925 13.9675 19.1305C13.9675 19.2685 13.945 19.4095 13.9 19.5535C13.858 19.6975 13.7845 19.8265 13.6795 19.9405C13.5775 20.0545 13.4365 20.134 13.2565 20.179C13.1935 20.197 13.1245 20.209 13.0495 20.215C12.9745 20.221 12.907 20.224 12.847 20.224H11.299ZM18.6355 23.635C19.2625 23.635 19.801 23.5 20.251 23.23C20.701 22.957 21.046 22.5835 21.286 22.1095C21.529 21.6355 21.6505 21.0925 21.6505 20.4805C21.6505 20.4625 21.649 20.407 21.646 20.314C21.643 20.221 21.6385 20.1505 21.6325 20.1025H19.3375V20.953H20.4805C20.3965 21.511 20.2015 21.9295 19.8955 22.2085C19.5895 22.4845 19.192 22.6195 18.703 22.6135C18.052 22.6045 17.563 22.387 17.236 21.961C16.909 21.535 16.747 20.968 16.75 20.26C16.753 19.786 16.8265 19.372 16.9705 19.018C17.1145 18.664 17.3305 18.3895 17.6185 18.1945C17.9065 17.9995 18.268 17.905 18.703 17.911C19.132 17.914 19.486 18.0295 19.765 18.2575C20.047 18.4855 20.2495 18.7915 20.3725 19.1755L21.4795 19C21.3145 18.334 20.998 17.815 20.53 17.443C20.065 17.071 19.4335 16.885 18.6355 16.885C18.0595 16.885 17.542 17.0185 17.083 17.2855C16.627 17.5525 16.2655 17.938 15.9985 18.442C15.7345 18.946 15.6025 19.552 15.6025 20.26C15.6025 20.98 15.7375 21.592 16.0075 22.096C16.2805 22.597 16.6465 22.9795 17.1055 23.2435C17.5645 23.5045 18.0745 23.635 18.6355 23.635Z' fill='white'/%3E%3C/svg%3E");
  }
  &--pdf::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='40' viewBox='0 0 38 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.23529 40H35.7647C36.9992 40 38 38.9992 38 37.7647V20V10.9272C38 10.3301 37.7798 9.75405 37.3815 9.30924L29.0465 0H20.5H5.23529C4.00078 0 3 1.00077 3 2.23529V37.7647C3 38.9992 4.00078 40 5.23529 40Z' fill='%23EDEDED'/%3E%3Cpath d='M29 10L29.0798 0L38 10H29Z' fill='%23D3D3D3'/%3E%3Cpath d='M0 17C0 15.3431 1.34315 14 3 14H24C25.6569 14 27 15.3431 27 17V23C27 24.6569 25.6569 26 24 26H3C1.34315 26 0 24.6569 0 23V17Z' fill='%23E8903F'/%3E%3Cpath d='M5.74963 23.5H6.83413V21.2365H8.42713C8.48713 21.2365 8.56663 21.2335 8.66563 21.2275C8.76763 21.2215 8.86063 21.2125 8.94463 21.2005C9.50263 21.1135 9.91663 20.881 10.1866 20.503C10.4596 20.122 10.5961 19.6645 10.5961 19.1305C10.5961 18.5935 10.4611 18.136 10.1911 17.758C9.92413 17.377 9.50863 17.143 8.94463 17.056C8.86063 17.041 8.76913 17.032 8.67013 17.029C8.57113 17.023 8.49013 17.02 8.42713 17.02H5.74963V23.5ZM6.83413 20.224V18.037H8.38213C8.44213 18.037 8.50963 18.04 8.58463 18.046C8.65963 18.052 8.72863 18.0625 8.79163 18.0775C8.97163 18.1225 9.11263 18.2035 9.21463 18.3205C9.31963 18.4345 9.39313 18.5635 9.43513 18.7075C9.48013 18.8515 9.50263 18.9925 9.50263 19.1305C9.50263 19.2685 9.48013 19.4095 9.43513 19.5535C9.39313 19.6975 9.31963 19.8265 9.21463 19.9405C9.11263 20.0545 8.97163 20.134 8.79163 20.179C8.72863 20.197 8.65963 20.209 8.58463 20.215C8.50963 20.221 8.44213 20.224 8.38213 20.224H6.83413ZM11.4977 23.5H13.5632C13.6142 23.5 13.7207 23.4985 13.8827 23.4955C14.0477 23.4925 14.2037 23.482 14.3507 23.464C14.8667 23.398 15.3017 23.2165 15.6557 22.9195C16.0097 22.6195 16.2782 22.2385 16.4612 21.7765C16.6442 21.3145 16.7357 20.809 16.7357 20.26C16.7357 19.711 16.6442 19.2055 16.4612 18.7435C16.2782 18.2815 16.0097 17.9005 15.6557 17.6005C15.3017 17.3005 14.8667 17.119 14.3507 17.056C14.2007 17.038 14.0447 17.0275 13.8827 17.0245C13.7237 17.0215 13.6172 17.02 13.5632 17.02H11.4977V23.5ZM12.6002 22.4785V18.0415H13.5632C13.6532 18.0415 13.7672 18.0445 13.9052 18.0505C14.0432 18.0535 14.1677 18.067 14.2787 18.091C14.5787 18.148 14.8247 18.2815 15.0167 18.4915C15.2087 18.7015 15.3512 18.961 15.4442 19.27C15.5402 19.576 15.5882 19.906 15.5882 20.26C15.5882 20.599 15.5432 20.923 15.4532 21.232C15.3632 21.541 15.2207 21.8035 15.0257 22.0195C14.8337 22.2325 14.5847 22.369 14.2787 22.429C14.1677 22.45 14.0432 22.4635 13.9052 22.4695C13.7672 22.4755 13.6532 22.4785 13.5632 22.4785H12.6002ZM17.7994 23.5H18.8839V20.8H21.1609V19.72H18.8839V18.1045H21.7009V17.02H17.7994V23.5Z' fill='white'/%3E%3C/svg%3E");
  }
}
.fdown__name {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.35;
  transition: color 0.4s;
}
.fdown__size {
  color: $color-text2;
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 0.25rem;
}
.fdown:hover {
  text-decoration: none;

  .fdown__name,
  .fdown__size {
    color: inherit;
  }
}
.cert__enlarge {
  color: $color-sep;
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  transition: color 0.4s;
}
.cert__bg:hover {
  text-decoration: none;

  .fdown__name,
  .cert__enlarge {
    color: inherit;
  }
}
@media (min-width: $break-md) {
  .cert__bg {
    padding-bottom: 2rem;
  }
  .fdown::before {
    height: 3.25rem;
    width: 2.9375rem;

    .cert__bg & {
      height: 2.5rem;
      width: 2.375rem;
      margin-right: 1.125rem;
    }
  }
  .fdown__name {
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media (min-width: $break-lg) {
  .cert__bg {
    padding: 1.875rem 1.25rem 2.75rem 1.875rem;
  }
  .cert__enlarge {
    bottom: 1.25rem;
    right: 1.25rem;
  }
}
