.footer {
  .divider {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.footer__bg {
  background: #eaeaea;
  padding: 2.5rem 0 3rem;
}
.footer__bg--v1 {
  background: $color-text1;
  color: #fff;
}
.to-top {
  opacity: 0;
  position: fixed;
  right: 1.25rem;
  bottom: -3rem;
  z-index: 10;
  transition: opacity 0.4s, bottom 0.4s;

  &__link {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45825 6.375L6.99992 1.625L12.5416 6.375' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0.75rem 0.5rem;
    border-radius: 50%;
    color: #fff;
    height: 2.375rem;
    width: 2.375rem;
    opacity: 0.7;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
  &--visible {
    bottom: 1.25rem;
    opacity: 1;
  }
}
.footer__nav {
  margin-bottom: 3.5rem;

  .fnav__list {
    display: block;
  }
}
.fnav__list {
  columns: 2 auto;
  margin: -0.4375rem 0 0; // compensate for __item.pt
}
.fnav__link {
  color: inherit;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.4375rem 0;
}
.footer__addresses {
  margin-bottom: 0.625rem;
}
.footer__emails,
.footer__phones {
  margin-bottom: 1.5rem;
}
.footer__phones .connect {
  font-weight: 600;
}
.footer__socials {
  margin-bottom: 1.125rem;
}
.footer__messengers {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 1.125rem;

  .messengers__link {
    border-radius: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: auto;
  }
  .messengers__icon {
    margin-right: 0.5rem;
  }
  .messengers__text {
    display: block;
  }
}
.footer .divider {
  margin-bottom: 1.875rem;
}
.footer__legal,
.footer__copy,
.footer__dev {
  font-weight: 600;
  font-size: 0.8125rem;
}
.legal__item {
  margin-bottom: 0.875rem;
}
.legal__link {
  color: inherit;
}
.footer__copy {
  margin-bottom: 1.875rem;
}
.dev {
  @extend %fx-centered-y;
  line-height: 1.32;
  letter-spacing: 0.1px;
}
.dev__icon {
  flex-shrink: 0;
  margin-right: 0.75rem;
}
.footer__bg--v1 {
  .dev a,
  .socials__link,
  .connect {
    color: #fff;
  }
  .messengers__link,
  .socials__link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .messengers__text,
  .footer__legal,
  .footer__copy,
  .footer__dev,
  .connect__label,
  .connect::before {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__bg--v2 {
  .footer__nav {
    color: $color-textHeader;
  }
  .connect__label,
  .connect::before,
  .messengers__link {
    color: $color-text2;
  }
  .messengers__link {
    background-color: #fafafa;

    &:hover {
      color: #fff;
    }
  }
  .divider {
    border-color: rgba(157, 157, 157, 0.2);
  }
}
.footer--v2 {
  .footer__nav {
    margin-bottom: 1.4375rem;
  }
  .footer__addresses .connect__descr {
    display: none;
  }
  .footer__addresses,
  .footer__phones {
    margin-bottom: 1rem;
  }
}
@media (max-width: $break-sm - 1) {
  .footer__legal {
    order: -1;
  }
}
@media (min-width: $break-sm) {
  .legal__item {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: $break-md) {
  .footer {
    position: relative;
  }
  .footer__bg {
    padding-top: 2.875rem;
    padding-bottom: 1rem;
  }
  .footer__nav {
    margin-bottom: 2rem;
  }
  .fnav__list {
    column-count: 3;
  }
  .footer__legal {
    flex: 0.5 1 33.333%;
    margin-bottom: 0.625rem;
  }
  .footer__legal:last-child .legal__list {
    justify-content: flex-end;
  }
  .legal__list {
    display: flex;
    flex-wrap: wrap;
  }
  .legal__item {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
  .footer__copy,
  .footer__dev {
    margin-bottom: 0.875rem;
  }
  .footer__copy {
    flex: 0.25 1 25%;
  }
  .to-top {
    right: 1.75rem;
  }
  .to-top--visible {
    transition: none;
    bottom: 1.5rem;
  }
  .to-top--footed {
    position: absolute;
    bottom: 70%;
  }
  .footer__connects {
    margin-bottom: 1.875rem;
  }
  .footer__messengers,
  .footer__socials {
    margin-bottom: 0;
  }
  .footer .divider {
    margin-bottom: 1.25rem;
  }
  .footer--v2 {
    .fnav__list {
      columns: initial;
      display: flex;
      flex-wrap: wrap;
    }
    .fnav__item {
      margin-right: 1.875rem;

      &:last-child {
        margin-right: 0;
      }
    }
    .footer__socials,
    .footer__emails,
    .footer__connects {
      margin-bottom: 0;
    }
    .footer__body {
      margin-bottom: 2.5rem;
    }
  }
}
@media (min-width: $break-lg) {
  .footer__bg {
    padding-top: 3.75rem;
  }
  .to-top {
    right: 2.75rem;
  }
  .to-top__link {
    height: 3rem;
    width: 3rem;
  }
  .to-top--footed {
    bottom: calc(100% + 2rem);
  }
  .footer__body {
    margin-bottom: 3.1875rem;
  }
  .footer__emails,
  .footer__addresses {
    margin-bottom: 1.875rem;
  }
  .footer__nav,
  .footer__connects {
    margin-bottom: 0;
  }
  .footer__nav {
    margin-top: -0.375rem; // compensate for a.pt
  }
  .fnav__link {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  .footer {
    .connect__item {
      margin-bottom: 0.25rem;
    }
    .divider {
      margin-bottom: 1rem;
    }
  }
  .footer__phones {
    margin-bottom: 1.5rem;
    .connect__item {
      margin-bottom: 0.375rem;
    }
  }
  .footer--v1 .connect::before {
    margin-bottom: 0.4375rem;
  }
  .footer--v2 {
    .footer__bg {
      padding-top: 4rem;
    }
    .footer__body {
      margin-bottom: 3.5rem;
    }
    .footer__nav {
      max-width: 80%;
    }
    .fnav__item {
      margin-bottom: 0.75rem;
    }
    .footer__phones,
    .footer__addresses {
      margin-bottom: 1.25rem;
    }
  }
}
@media (min-width: $break-xl) {
  .footer__nav {
    margin-bottom: 3.5rem;
  }
  .footer--v2 {
    .fnav__item {
      margin-right: 2.5625rem;
    }
  }
}
@media (min-width: $break-desk) {
  .footer__bg {
    padding-top: 4rem;
  }
  .footer__connects .cell {
    padding-right: 3.5rem;
  }
  .to-top {
    right: calc(50% - #{$cont-1 / 2});
  }
  .to-top--footed {
    bottom: 32%;
  }
  .footer__phones {
    margin-bottom: 1.5rem;
  }
  .footer .divider {
    margin-bottom: 1.25rem;
  }
  .footer--v2 {
    .footer__addresses {
      margin-bottom: 1.5rem;
    }
    .footer__phones {
      margin-bottom: 1rem;

      .connect__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .connect__button {
        display: flex;
        align-items: center;
      }
      .connect__button::before {
        content: "";
        background-color: currentColor;
        border-radius: 50%;
        display: block;
        flex-shrink: 0;
        height: 0.25rem;
        width: 0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
      .connect__text + .connect__button {
        margin-top: 0;
      }
    }
  }
}
