.mheader {
  padding-bottom: 1.0625rem;
  padding-top: 1.0625rem;
}
.mheader__row {
  @extend %fx-centered-y;
  justify-content: space-between;
}
.mheader__logo,
.mheader__phones,
.mheader__callback,
.mheader__addresses,
.mheader__bcart,
.mheader__opener {
  flex: 0 0 auto;
}
.mheader__phones,
.mheader__addresses {
  display: none;
}
.mheader__logo {
  max-width: 42%;
  margin-right: 1.5rem;
}
.mheader__bcart {
  .bcart__button {
    border-color: transparent;
    height: 2.25rem;
    width: 2.25rem;

    svg {
      height: 19px;
      width: 24px;
    }
  }
}
.mheader__opener {
  margin-right: -0.25rem;
}
.header__opener,
.header__closer {
  background: transparent;
  border-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
}
.header__contents {
  display: none;

  &--opened {
    display: block;
  }
}
.header__top {
  color: $color-text2;
  font-weight: 600;
  padding: 0.8125rem 0 0.6875rem;
}
.search__toggle {
  display: flex;
  height: 1rem;
  width: 1rem;

  &::before {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.search__body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.4s, opacity 0.4s;
  z-index: 15;

  .search--opened & {
    transform: translateY(0);
    opacity: 1;
  }
}
.search__form {
  background: #fff;
  border: 1px solid $color-sep;
  border-radius: $brad-2;
  position: relative;

  .form__field {
    margin-bottom: 0;
  }
  .form__input {
    border: 0;
    padding: 1rem 11rem 1rem 2rem;
  }
  .form__submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.search__close {
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11M11 1L1 11' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.25rem 1.25rem;
}
.header__search {
  .search__form {
    width: 100%;
    max-width: 40rem;
  }
  .search__close {
    display: block;
    position: absolute;
    top: -4rem;
    right: -0.75rem;
  }
}
.header__body {
  padding: 0.9375rem 0 1.0625rem;
}
.logo {
  @extend %fx-centered-y;
}
.logo__link {
  @extend %fx-centered-y;
  color: inherit;
}
.logo svg {
  max-height: 100%;
}
.logo__text {
  font-weight: 800;
}
.logo__slogan {
}
.header__primary-nav {
  margin-left: auto;
}
.bcart__button {
  border-color: $color-sep;

  &:hover {
  }
}
.bcart__button--active::after {
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(125%, -110%);
}
.bcart__button--active:hover::after {
}
@media (max-width: 767px) {
  .mheader__callback .button-callback {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.2609 11.9964C8.02934 12.0356 9.08265 11.7568 9.48338 11.1932C9.88442 10.6284 10.0304 10.0962 9.99484 9.96549C9.96569 9.86151 9.85464 9.76929 9.68884 9.63161C9.64567 9.59577 9.59879 9.55684 9.54868 9.51383C9.3058 9.30673 8.12317 8.30411 7.88971 8.151C7.66257 7.99341 7.41343 7.96254 7.15211 8.17137C7.10252 8.21065 7.05299 8.25007 7.00373 8.28927C6.68884 8.53984 6.38509 8.78155 6.14853 8.92435C5.93367 9.05211 5.65404 9.00222 5.44952 8.85055C5.42723 8.83396 5.4016 8.8153 5.37288 8.79439C5.04802 8.55797 4.32749 8.03357 3.58057 6.94209C2.95057 6.02156 2.63212 4.99736 2.5425 4.69177C2.45606 4.38612 2.63557 4.26714 2.80148 4.15719C2.80455 4.15515 2.80762 4.15312 2.81068 4.15109C2.919 4.07528 3.02044 4.01509 3.12239 3.95461C3.19572 3.91111 3.26932 3.86744 3.34592 3.8177C3.3573 3.81031 3.36836 3.80314 3.37913 3.79617C3.5417 3.69087 3.6385 3.62817 3.7693 3.47834C3.91315 3.32586 3.89555 3.12498 3.86477 2.97218C3.84405 2.86539 3.74032 2.11724 3.65127 1.47497C3.61317 1.20011 3.57775 0.944643 3.55267 0.767133C3.48471 0.294252 3.3487 0.241478 3.07223 0.156843C3.06377 0.154188 3.05523 0.151501 3.04661 0.148787C2.9594 0.121349 2.86337 0.0911319 2.75617 0.0630738C2.39208 -0.0322297 1.98427 -0.0285779 1.69278 0.136777C1.6826 0.142559 1.67199 0.148553 1.66098 0.154772C1.28836 0.365267 0.458323 0.834166 0.108284 2.11034C-0.242433 3.38897 0.361347 4.87331 0.473061 5.14795C0.47614 5.15552 0.478845 5.16217 0.481146 5.16787C0.488008 5.18389 0.500238 5.21664 0.518037 5.2643C0.738224 5.85393 1.8107 8.72588 4.11593 10.4347C6.06366 11.8792 6.73561 11.968 7.2609 11.9964Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-size: 0.9375rem 1.125rem;
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    min-height: 0;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;

    &::before {
      content: "";
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
