.news-nav__item {
  margin-bottom: 1.875rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.news-nav__cover {
  margin-bottom: 0.875rem;
  position: relative;
}
.news-nav__image {
  display: block;
  overflow: hidden;
  width: 100%;
  padding-bottom: 54.6%;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.news-nav__date {
  background: $color-text1;
  border-radius: $brad-1;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.news-nav__name {
  display: block;
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
}
@media (min-width: $break-lg) {
  .news__list .icard__body {
    padding: 1.5rem;
  }
}
@media (min-width: $break-desk) {
  .news__list .icard__body {
    padding: 1.5rem 2.5rem 2.5rem;
  }
}
