.spartners {
  background: $color-bg;
}
.spartners__list {
  align-items: stretch;
}
.spartners__item {
  margin-bottom: 1.875rem;
}
.spartners__image {
  @extend %fx-centered;
  background-color: #fff;
  border-radius: $brad-3;
  filter: grayscale(1);
  height: 86px;
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding: 1.25rem;

  img {
    max-height: 100%;
  }
  &:hover {
    filter: none;
  }
}
.spartners__link {
  color: inherit;
  text-align: center;
}
.spartners__title {
  font-weight: 600;
  font-size: 0.875rem;
}
.partners__image {
  height: 112px;
  padding: 0.9375rem 1.75rem;

  img {
    position: relative;
  }
}
@media (min-width: $break-md) {
  .spartners__image {
    height: 120px;
  }
  .partners__image {
    height: 85px;
    padding: 0.75rem 1.25rem;
  }
}
@media (min-width: $break-lg) {
  .spartners__item {
    margin-bottom: 2.5rem;
  }
  .spartners__image {
    margin-bottom: 1rem;
  }
  .spartners__title {
    font-size: 1rem;
  }
  .partners__image {
    height: 82px;
  }
}
@media (min-width: $break-xl) {
  .partners__image {
    height: 130px;
  }
}
