.sproducts {
  background: $color-bg;
}
.products__list {
  align-items: stretch;
  justify-content: center;
  margin-bottom: 0.125rem;
}
.products__list:last-child {
  margin-bottom: -1.1875rem;
  padding-bottom: 1px;
}
.products__item {
  margin-bottom: 1.125rem;
}
.products__bg {
  background: #fff;
  border-radius: $brad-3;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.products__images {
  .slick-dots {
    bottom: 0.25rem;
    left: 1.25rem;
    right: 1.25rem;
    transform: none;
  }
  .slick-dots li {
    margin-right: 0.5rem;
  }
  .slick-dots button {
    border: 0;
    height: 0.5rem;
    width: 0.5rem;
  }
  .slick-active button {
    background-color: $color-text1;
  }
}
.products__images__link {
  display: block;
  width: 100%;
  padding-bottom: 74.3%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.products__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.25rem 1.25rem;
}
.products__cat {
  color: $color-text2;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.products__title {
  flex-grow: 1;
  display: block;
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.8125rem;
  min-height: 2.5rem;
}
.products__action {
  align-items: flex-end;
  justify-content: space-between;
}
.products__prices__old {
  font-weight: 600;
  font-size: 0.75rem;
  text-decoration: line-through;
}
.products__prices__new {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 1rem;
}
.products__button .button {
  min-height: 2.25rem;
  padding: 0.4375rem 1rem;
}
.products__labels {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 10;
}
.products__label {
  background: $color-text1;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 0.6875rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
}
@media (min-width: $break-md) {
  .products__title {
    min-height: 2.75rem;
  }
  .products__action {
    flex-wrap: nowrap;
  }
  .products__button .button {
    padding: 0.4375rem;
  }
}
@media (min-width: $break-lg) {
  .products__list {
    margin-bottom: 0.875rem;

    &:last-child {
      margin-bottom: -1.5625rem;
    }
  }
  .products__item {
    margin-bottom: 1.5rem;
  }
  .products__labels {
    top: 1.5rem;
    left: 1.5rem;
  }
  .products__images .slick-dots {
    bottom: 0.4375rem;
    left: 1.5rem;
    right: 1.5rem;
  }
  .products__body {
    padding: 1.5rem;
  }
  .products__prices__old {
    font-size: 0.8125rem;
  }
  .products__button .button {
    padding: 0.4375rem 0.8125rem;
  }
  .products__title {
    margin-bottom: 0.625rem;
  }
  .products__images__list {
    .slick-arrow {
      background: rgba(255, 255, 255, 0);
      border-color: transparent;
      opacity: 0;

      &:hover {
        background: rgba(255, 255, 255, 0);
        border-color: transparent;
        color: $color-textHeader;
      }
    }
  }
  .products__images__list:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
}
@media (min-width: $break-xl) {
  .products__cat {
    font-size: 0.8125rem;
  }
  .products__body {
    padding: 1.375rem 1.5rem 1.5rem;
  }
  .products__list {
    margin-bottom: 1rem;
  }
}
