.reviews__slider {
  height: 450px;
  padding-bottom: 1.875rem;

  .slick-track {
    align-items: flex-start;
  }

  .slick-dots {
    bottom: -0.625rem;
  }
  .reviews__item {
    margin-bottom: 0;
  }
}
.reviews__list {
  margin-bottom: 1.875rem;
}
.reviews__item {
  margin-bottom: 1.125rem;
}
.reviews__bg {
  border: 1px solid $color-sep;
  border-radius: $brad-3;
  padding: 1.25rem;
}
.reviews__meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}
.reviews__cat {
  flex: 0 0 100%;
  margin-bottom: 0.875rem;
}
.reviews__cat__text {
  display: inline-block;
  background: $color-bg;
  border-radius: $brad-1;
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1.3;
  padding: 0.3125rem 0.625rem;
  text-align: right;
}
.reviews__pic {
  flex: 0 0 58px;
  max-width: 58px;
  height: 58px;
  margin-right: 1.5rem;
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &__decor {
    content: "";
    background: $color-bg;
    border-radius: 50%;
    @extend %fx-centered;
    height: 1.875rem;
    width: 1.875rem;
    position: absolute;
    top: 0;
    right: -12px;

    svg {
      max-height: 0.9375rem;
      max-width: 00.9375rem;
    }
  }
}
.reviews__pic--empty {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='30' viewBox='0 0 25 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0003 7.5C20.0003 11.6362 16.6366 15 12.5003 15C8.36406 15 5.00031 11.6362 5.00031 7.5C5.00031 3.36375 8.36406 0 12.5003 0C16.6366 0 20.0003 3.36375 20.0003 7.5ZM25 28.375C25 29.272 24.2018 30 23.2143 30H1.78571C0.798214 30 0 29.272 0 28.375C0 22.1025 5.60893 17 12.5 17C19.3911 17 25 22.1025 25 28.375Z' fill='white' fill-opacity='0.33'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.5625rem 1.875rem;
  border-radius: 50%;
}
.reviews__personal {
  flex: 1 1 50%;
}
.reviews__date {
  color: $color-text2;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
}
.reviews__name {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3;
}
.reviews__text {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.reviews__images {
  @extend %fx-centered-y;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  margin-left: -6px;
  margin-right: -6px;
  overflow: hidden;
  position: relative;
}
.reviews__images__item {
  flex: 0 0 auto;
  margin-bottom: 0.75rem;
  padding-left: 6px;
  padding-right: 6px;
}
.reviews__image {
  border-radius: $brad-1;
  background: $color-bg;
  display: block;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: contain;
  }
  &:last-child {
    margin-right: 0;
  }
}
.reviews__image--more .reviews__image__overflow {
  @extend %fx-centered;
  background: rgba(0, 0, 0, 0.25);
  border-radius: $brad-1;
  color: #fff;
  font-weight: bold;
  font-size: 0.625rem;
  line-height: 0.98;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.reviews__intro {
  background: $color-bg;
  border-radius: $brad-3;
  margin-bottom: 1.5rem;
  padding: 1.25rem;
}
.reviews__intro__title {
  @extend %fx-centered-y;
  color: $color-textHeader;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.35;
  margin-bottom: 1rem;
}
.reviews__intro__icon {
  @extend %fx-centered;
  flex-shrink: 0;
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 2.375rem;
  width: 2.375rem;
  margin-right: 0.5rem;
}
.reviews__intro__text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.reviews__intro__note {
  color: $color-text2;
  font-size: 0.75rem;
  font-weight: 500;
}
@media (min-width: $break-md) {
  .reviews__slider {
    height: 250px;
  }
  .reviews__bg {
    padding: 1.875rem 1.875rem 1.8125rem;
  }
  .reviews__meta {
    margin-bottom: 0.8125rem;
  }
  .reviews__cat {
    flex-basis: auto;
    max-width: 50%;
    margin-bottom: 0;
    margin-left: auto;
    order: 1;
  }
  .reviews__personal {
    flex: 0 0 auto;
    max-width: 40%;
  }
  .reviews__images {
    margin-left: -8px;
    margin-right: -8px;
  }
  .reviews__images__item {
    margin-bottom: 1rem;
    padding-left: 8px;
    padding-right: 8px;
  }
  .reviews__intro {
    border-radius: $brad-3;
    padding: 1.875rem;
  }
  .reviews__intro__title {
    font-size: 1.25rem;
  }
  .reviews__intro__icon {
    margin-right: 1rem;
  }
  .reviews__intro__text {
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
  .reviews__intro__note {
    font-size: 0.875rem;
  }
}
@media (min-width: $break-lg) {
  .reviews__list {
    margin-bottom: 2.5rem;
  }
  .reviews__item {
    margin-bottom: 1.5rem;
  }
  .reviews__bg {
    padding: 2.5rem 2.5rem 2.5rem 150px;
    position: relative;

    .sreviews & {
      padding: 3.125rem 3.125rem 3.125rem 160px;
    }
  }
  .reviews__pic {
    max-width: none;
    width: 86px;
    height: 86px;
    margin-right: 0;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;

    .sreviews & {
      top: 3.125rem;
      left: 3.125rem;
    }
  }
  .reviews__text {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.875rem;

    .sreviews & {
      font-size: 1.25rem;
    }
  }
  .reviews__meta {
    margin-bottom: 1.125rem;
  }
  .reviews__cat__text,
  .reviews__date {
    font-size: 0.875rem;
  }
  .reviews__date {
    margin-bottom: 0.5rem;
  }
  .reviews__name {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  .reviews__pic__decor {
    right: 0;
  }
  .reviews__images {
    height: 84px;
  }
  .reviews__image {
    height: 84px;
    width: 84px;
  }
  .reviews__slider {
    padding-bottom: 3rem;
  }
  .reviews__intro {
    margin-bottom: 2.25rem;
    padding: 2.5rem;
  }
}
@media (min-width: $break-xl) {
  .sreviews .reviews__bg {
    max-width: 73.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  .reviews__slider {
    padding-bottom: 3.125rem;

    .slick-arrow {
      transform: translateY(-100%);
    }
  }
  .reviews__text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.625rem;
  }
  .reviews__images {
    margin-left: -11px;
    margin-right: -11px;
  }
  .reviews__images__item {
    margin-bottom: 1.25rem;
    padding-left: 11px;
    padding-right: 11px;
  }
  .reviews__intro {
    border-radius: $brad-3;
    padding: 50px;
  }
  .reviews__intro__title {
    margin-bottom: 0;
  }
  .reviews__intro__icon {
    margin-right: 1.5rem;
    height: 3rem;
    width: 3rem;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}
