.sservices {
  background: $color-bg;
}
.services__list {
  margin-bottom: 0.75rem;
}
.services__item {
  margin-bottom: 1.125rem;
}
.services__link {
  color: inherit;
  display: block;
  height: 100%;
  position: relative;
  outline: none;

  &:focus-visible .services__title {
    outline: 2px dotted currentColor;
    outline-offset: -0.5rem;
  }

  .sservices--v1 &:hover {
    &::before {
      content: "";
      background-color: rgba(255, 255, 255, 0.25);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .services__title {
      text-decoration: underline;
    }
  }
}
.services__image {
  overflow: hidden;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.services__title {
  font-weight: 800;
  line-height: 1.2;
}
.sservices--v1 {
  .services__list {
    justify-content: center;
  }
  .services__image {
    border-radius: $brad-3;
    width: 100%;
    padding-bottom: 70%;
  }
  .services__title {
    background: $color-text1;
    border-radius: $brad-1;
    color: #fff;
    padding: 0.625rem 0.75rem;
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    max-width: calc(100% - 1.5rem);
    z-index: 5;
    transition: background-color 0.4s;
  }
}
.sservices--v2 {
  .section__title {
    text-align: left;
  }
  .services__link {
    @extend %fx-centered-y;
    border: 1px solid $color-sep;
    border-radius: $brad-3;
    color: $color-textHeader;
    padding: 0.6875rem;
    transition: background-color 0.4s;

    &:hover {
      color: #fff;
    }
  }
  .services__image {
    flex: 0 0 56px;
    align-self: flex-start;
    max-width: 56px;
    border-radius: $brad-1;
    height: 56px;
    margin-right: 0.625rem;
  }
}
.services--left .services__list {
  justify-content: flex-start;
}
.subservices__item {
  margin-bottom: 1.125rem;
}
.subservices__bg {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}
.subservices__image {
  flex: 0 0 auto;
  border-radius: $brad-1 $brad-1 0 0;
  width: 100%;
  padding-bottom: 71%;
  overflow: hidden;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.subservices__body {
  flex: 1 0 0;
  border: 1px solid $color-sep;
  border-top-width: 0;
  border-radius: 0 0 $brad-3 $brad-3;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem 1.25rem;
}
.subservices__title {
  color: $color-textHeader;
  font-weight: 800;
  line-height: 1.35;
  margin-bottom: 0.625rem;
}
.subservices__descr {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.subservices__price {
  @extend .subservices__title;
  margin-top: auto;
  margin-bottom: 0;
  padding-right: 3rem;
}
.subservices__decor {
  color: $color-text2;
  height: 0.9375rem;
  width: 0.9375rem;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;

  &::before {
    content: "";
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.service__presentation {
  border: 1px solid $color-sep;
  border-radius: $brad-3;
  margin-bottom: 1.875rem;
}
.spresentation__image {
  background: $color-bg;
  border-radius: $brad-3 $brad-3 0 0;
  overflow: hidden;
  padding-bottom: 44.6%;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.spresentation__action {
  padding: 1rem 1.25rem 1.25rem;
  position: relative;

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.714 8C14.32 8 14 7.619 14 7.15V3.978L17.742 8H14.714ZM15 18H9C8.448 18 8 17.552 8 17C8 16.448 8.448 16 9 16H15C15.553 16 16 16.448 16 17C16 17.552 15.553 18 15 18ZM9 12H12C12.552 12 13 12.448 13 13C13 13.552 12.552 14 12 14H9C8.448 14 8 13.552 8 13C8 12.448 8.448 12 9 12ZM19.74 7.328L15.296 2.328C15.107 2.119 14.838 2 14.556 2H6.556C5.147 2 4 3.122 4 4.5V19.5C4 20.878 5.147 22 6.556 22H17.444C18.854 22 20 20.878 20 19.5V8C20 7.751 19.907 7.512 19.74 7.328Z' fill='%23E0E0E0'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='4' y='2' width='16' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.714 8C14.32 8 14 7.619 14 7.15V3.978L17.742 8H14.714ZM15 18H9C8.448 18 8 17.552 8 17C8 16.448 8.448 16 9 16H15C15.553 16 16 16.448 16 17C16 17.552 15.553 18 15 18ZM9 12H12C12.552 12 13 12.448 13 13C13 13.552 12.552 14 12 14H9C8.448 14 8 13.552 8 13C8 12.448 8.448 12 9 12ZM19.74 7.328L15.296 2.328C15.107 2.119 14.838 2 14.556 2H6.556C5.147 2 4 3.122 4 4.5V19.5C4 20.878 5.147 22 6.556 22H17.444C18.854 22 20 20.878 20 19.5V8C20 7.751 19.907 7.512 19.74 7.328Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.125rem 1.125rem;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: block;
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}
.spresentation__action__price {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.625rem;
}
.spresentation__action__text {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.service__section {
  margin: 1.875rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.sprojects__image {
  padding-bottom: 67.9%;
}
.sprojects__category {
  @extend .label;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  max-width: calc(100% - 2.5rem);
}
.service__action__pricing {
  margin-bottom: -1.125rem;
}
.service__action__price,
.service__action .article__action__button {
  margin-bottom: 1.125rem;
}
.service__action__price__label {
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.service__action__price__value {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3;
}
.spresentation__action__button {
  padding-right: 3rem;
}
.service__cta {
  margin-bottom: 1.875rem;
  order: -1;
}
.serv-cta__image {
  border-radius: $brad-3 $brad-3 0 0;
  width: 100%;
  padding-bottom: 70%;
  overflow: hidden;
  position: relative;

  img {
    @extend %absolute-img;
    object-fit: cover;
  }
}
.serv-cta__body {
  background: $color-bg;
  border-radius: 0 0 $brad-3 $brad-3;
  padding: 1rem 1.25rem 1.25rem;

  &:first-child:last-child {
    border-radius: $brad-3;
  }
}
.serv-cta__price {
  color: $color-textHeader;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.serv-cta__actions {
  margin: 0 -0.5rem -0.625rem;
}
.serv-cta__action {
  margin-bottom: 0.625rem;
  max-width: 14em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  button {
    width: 100%;
  }
}
@media (min-width: $break-sm) and (max-width: $break-lg - 1) {
  .serv-cta__bg {
    background: $color-bg;
    display: flex;
    padding: 1.5rem;
  }
  .serv-cta__image {
    border-radius: $brad-3;
    flex: 0 0 12.5rem;
    height: 8.8125rem;
    width: 12.5rem;
    margin-right: 1.875rem;
    padding-bottom: 0;
  }
  .serv-cta__body {
    border-radius: 0;
    padding: 0;
  }
}
@media (min-width: $break-md) {
  .sservices--v2 .services__item {
    flex-basis: $col-width * 4;
    max-width: $col-width * 4;
  }
  .service__presentation {
    display: flex;
    align-items: center;
    border: 0;
    min-height: 17.4375rem;
    padding: 1.875rem;
    position: relative;
  }
  .spresentation__image {
    border-radius: $brad-3;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .spresentation__action {
    background: #fff;
    border-radius: $brad-3;
    padding-top: 1.25rem;
    width: 43%;
    position: relative;
    z-index: 1;
  }
  .service__action__pricing {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .service__action .article__action__text {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: $break-lg) {
  .sservices--v1 .services__title {
    bottom: 1.5rem;
    left: 1.5rem;
    max-width: calc(100% - 3rem);
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 0.9375rem 1rem;
  }
  .services__item {
    margin-bottom: 1.5625rem;
  }
  .sservices--v2 {
    .services__image {
      flex-basis: 65px;
      max-width: 65px;
      height: 65px;
      margin-right: 0.875rem;
    }
  }
  .subservices__item {
    margin-bottom: 1.5rem;
  }
  .spresentation__action {
    width: 52%;
  }
  .spresentation__action__price {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .spresentation__action__text {
    font-size: 1rem;
  }
  .spresentation__action::after {
    background-size: 1.5rem 1.5rem;
    border-width: 2px;
    height: 3rem;
    width: 3rem;
    bottom: 2.5rem;
    right: 2.5rem;
  }
  .service__action {
    .article__action {
      padding: 1.875rem;
    }
    .article__action__text {
      font-size: 1rem;
      margin-bottom: 1.125rem;
    }
    .article__action__title__icon {
      border-width: 2px;
      height: 3rem;
      width: 3rem;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    .article__action__button button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  .service__action__price__label {
    font-size: 0.875rem;
  }
  .service__action__price__value {
    font-size: 1.125rem;
  }
  .service__presentation {
    min-height: 22.5rem;
    margin-bottom: 2.5rem;
  }
  .spresentation__action {
    padding: 2.5rem;
  }
  .service__cta {
    align-self: flex-start;
    position: sticky;
    top: 1.5rem;
    order: unset;

    .serv-cta__title {
      font-size: 1rem;
    }
    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
@media (min-width: $break-xl) {
  .sservices--v1 .services__item {
    flex-basis: $col-width * 4;
    max-width: $col-width * 4;
  }
  .sservices--v2 {
    .services__item {
      flex-basis: $col-width * 3;
      max-width: $col-width * 3;
    }
    .services__image {
      flex-basis: 106px;
      max-width: 106px;
      height: 106px;
      margin-right: 1.125rem;
    }
  }
  .subservices__bg {
    border: 1px solid $color-sep;
    border-radius: $brad-3;
    flex-direction: row;
    padding: 1.875rem;
  }
  .subservices__image {
    border-radius: $brad-3;
    flex-basis: 6.875rem;
    height: 4.875rem;
    width: 6.875rem;
    margin-right: 1.25rem;
    padding-bottom: 0;
  }
  .subservices__body {
    border: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .subservices__title {
    flex: 1 1 50%;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .subservices__descr {
    flex: 0 0 100%;
    margin-bottom: 0;
    order: 1;
    padding-right: 2rem;
  }
  .subservices__price {
    flex: 0 0 auto;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .subservices__decor {
    bottom: 1.875rem;
    right: 1.875rem;
  }
  .service__presentation {
    min-height: 25.9375rem;
    margin-bottom: 3.125rem;
    padding: 3.75rem;
  }
  .service__benefits {
    margin-bottom: 1rem;
  }
  .spresentation__action {
    width: 35%;
  }
  .service__action {
    .article__action {
      display: flex;
      align-items: center;
      padding: 3.125rem 2.5rem;
    }
    .article__action__button {
      margin-left: 2.5rem;
    }
    .article__action__text {
      margin-bottom: 0;
    }
  }
  .service__action .article__action__title__icon {
    order: -1;
    margin-left: 0;
    margin-right: 1.5rem;
  }
  .service__action__pricing {
    flex: 0 0 50%;
    justify-content: flex-end;
  }
  .service__action__price {
    text-align: right;
  }
}
