.sservices {
  background: $color-bg;
}
.services__list {
  justify-content: center;
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: -1.1875rem;
    padding-bottom: 1px;
  }
}
.services__item {
  margin-bottom: 1.125rem;
}
.services__link {
  color: inherit;
  display: block;
  height: 100%;
  position: relative;
  outline: none;

  &:focus-visible .services__title {
    outline: 2px dotted currentColor;
    outline-offset: -0.5rem;
  }

  .sservices--v1 &:hover {
    &::before {
      content: "";
      background-color: rgba(255, 255, 255, 0.25);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .services__title {
      text-decoration: underline;
    }
  }
}
.services__image {
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.services__title {
  font-weight: 800;
  line-height: 1.2;
}
.sservices--v1 {
  .services__image {
    border-radius: $brad-3;
    width: 100%;
    padding-bottom: 70%;
  }
  .services__title {
    background: $color-text1;
    border-radius: $brad-1;
    color: #fff;
    padding: 0.625rem 0.75rem;
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    max-width: calc(100% - 1.5rem);
    z-index: 5;
    transition: background-color 0.4s;
  }
}
.sservices--v2 {
  .section__title {
    text-align: left;
  }
  .services__link {
    @extend %fx-centered-y;
    border: 1px solid $color-sep;
    border-radius: $brad-3;
    color: $color-textHeader;
    padding: 0.6875rem;
    transition: background-color 0.4s;

    &:hover {
      color: #fff;
    }
  }
  .services__image {
    flex: 0 0 56px;
    align-self: flex-start;
    max-width: 56px;
    border-radius: $brad-1;
    height: 56px;
    margin-right: 0.625rem;
  }
}
@media (min-width: $break-md) {
  .sservices--v2 .services__item {
    flex-basis: $col-width * 4;
    max-width: $col-width * 4;
  }
}
@media (min-width: $break-lg) {
  .sservices--v1 .services__title {
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 0.9375rem 1rem;
  }
  .services__list:last-child {
    margin-bottom: -1.6125rem;
  }
  .services__item {
    margin-bottom: 1.5625rem;
  }
  .sservices--v2 {
    .services__image {
      flex-basis: 65px;
      max-width: 65px;
      height: 65px;
      margin-right: 0.875rem;
    }
  }
}
@media (min-width: $break-xl) {
  .sservices--v1 .services__item {
    flex-basis: $col-width * 4;
    max-width: $col-width * 4;
  }
  .sservices--v2 {
    .services__item {
      flex-basis: $col-width * 3;
      max-width: $col-width * 3;
    }
    .services__image {
      flex-basis: 106px;
      max-width: 106px;
      height: 106px;
      margin-right: 1.125rem;
    }
  }
}
