.site-nav {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;

  &.nav--overflown {
    flex-grow: 0;
  }
}
.site-nav__list {
  flex: 1 0 auto;
  color: $color-text2;

  .nav--overflown & {
    max-width: calc(100% - 2rem);
  }
}
.site-nav > .site-nav__list {
  height: 3rem;
  overflow: hidden;
}
.site-nav__item {
  padding-right: 1.5rem;

  &:last-child {
    padding-right: 0;
  }
}
.site-nav__link {
  color: inherit;
  display: block;
  padding: 0.8125rem 0;

  &:hover {
    text-decoration: none;
  }
  &:focus-visible {
    outline-offset: -2px;
  }
}
.dropdown__body {
  .site-nav__link {
    font-size: 1rem;
    padding: 0.5625rem 1.5rem;
  }
}
.site-nav .dropdown__toggle {
  height: 2rem;
  width: 2rem;
}
