.site-nav {
  position: relative;
}
.site-nav__list {
  color: $color-text2;
}
.site-nav > .site-nav__list {
  height: 3rem;
  overflow: hidden;
}
.site-nav__item {
  padding-right: 1.5rem;
}
.site-nav__link {
  color: inherit;
  display: block;
  padding: 0.8125rem 0;

  &:focus-visible {
    outline-offset: -2px;
  }
}
.dropdown__body {
  .site-nav__link {
    font-size: 1rem;
    padding: 0.5625rem 1.5rem;
  }
}
.site-nav .dropdown__toggle {
  height: 2rem;
  width: 2rem;
}
