.videos__item {
  position: relative;
}
.videos__link {
  display: block;
}
.videos__cover,
.videos__content {
  width: 100%;
  padding-bottom: 53.4%;
  position: relative;
}
.videos__cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: $brad-1 $brad-1 0 0;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
  }

  &::before {
    background-image: linear-gradient(
      360deg,
      #3c3c3c 0%,
      rgba(65, 65, 65, 0) 100%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &::after {
    background-color: $color-bg;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.56656L9.3427 5.99944L1 10.4323V1.56656Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px solid $color-bg;
    outline-offset: 0.5rem;
    transition: background-color 0.4s, outline-offset 0.3s;

    .videos__link:hover & {
      outline-offset: -2px;
    }
  }
}
.videos__text {
  background: $color-text1;
  border-radius: 0 0 $brad-3 $brad-3;
  color: #fff;
  padding: 1.125rem 1.25rem 1.25rem;
}
.videos__title {
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.375rem;
}
.videos__descr {
  font-weight: 600;
  font-size: 0.75rem;
  opacity: 0.7;
}
.videos__content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.videos__content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  .videos__item--play & {
    display: block;
  }
}
@media (min-width: $break-lg) {
  .videos__cover {
    border-radius: $brad-3 $brad-3 0 0;
  }
  .videos__cover::after {
    background-size: 19px 20px;
    height: 4.875rem;
    width: 4.875rem;
    outline-offset: 1rem;
  }
  .videos__text {
    border-radius: 0 0 $brad-3 $brad-3;
    padding: 1.125rem 1.5rem 1.5625rem;
  }
}
@media (min-width: $break-xl) {
  .svideos .h2 {
    margin-bottom: 1.5rem;
  }
  .videos__cover {
    border-radius: $brad-3;
    padding-bottom: 53.7%;
  }
  .videos__text {
    background-color: transparent;
    padding: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .videos__title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
  .videos__descr {
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.4;
  }
}
