.connect {
  display: flex;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.25rem;
  }
}
.connect__item {
  display: flex;
}
.connect__label {
  margin-right: 0.25rem;
}
.addresses::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 14L5.34476 14.7554L6.67607 14.7368L6 14ZM6 0C2.7091 0 0 2.62917 0 5.90339H2C2 3.7703 3.77674 2 6 2V0ZM0 5.90339C0 8.21421 1.39923 10.4298 2.65102 11.9783C3.29617 12.7764 3.94464 13.4485 4.44281 13.9311C4.69253 14.1729 4.90593 14.3686 5.06415 14.51C5.14331 14.5807 5.20858 14.6379 5.25751 14.6803C5.28197 14.7015 5.30218 14.7189 5.31763 14.7321C5.32487 14.7383 5.3322 14.7446 5.33661 14.7484C5.33908 14.7505 5.34098 14.7522 5.34249 14.7535C5.34323 14.7541 5.34378 14.7546 5.34419 14.7549C5.34461 14.7553 5.34478 14.7554 5.34476 14.7554L6.65524 13.2446C6.56466 13.166 5.37289 12.164 4.2064 10.721C3.00571 9.23569 2 7.48539 2 5.90339H0ZM6.67607 14.7368C6.67605 14.7369 6.67662 14.7363 6.67811 14.735C6.67954 14.7337 6.68138 14.732 6.68377 14.7298C6.68896 14.7251 6.69433 14.7203 6.70235 14.713C6.71751 14.6993 6.73747 14.6812 6.76164 14.6591C6.81003 14.6149 6.87473 14.5554 6.95332 14.4817C7.11039 14.3343 7.32257 14.1308 7.571 13.8805C8.06667 13.3809 8.71212 12.6894 9.35429 11.8803C10.5928 10.32 12 8.1025 12 5.90374H10C10 7.36345 9.00194 9.1072 7.78777 10.6369C6.61524 12.1142 5.41769 13.1771 5.32393 13.2632L6.67607 14.7368ZM12 5.90374C12 2.62951 9.29021 0 6 0V2C8.22256 2 10 3.77065 10 5.90374H12ZM7 6C7 6.55228 6.55228 7 6 7V9C7.65685 9 9 7.65685 9 6H7ZM6 7C5.44772 7 5 6.55228 5 6H3C3 7.65685 4.34315 9 6 9V7ZM5 6C5 5.44772 5.44772 5 6 5V3C4.34315 3 3 4.34315 3 6H5ZM6 5C6.55228 5 7 5.44772 7 6H9C9 4.34315 7.65685 3 6 3V5Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: 0.625rem 0.8125rem;
}
.phones::before {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48087 13.6943C9.03733 15.9201 11.9588 19.2589 13.3499 20.6501C14.7411 22.0412 18.0799 24.9627 20.3057 25.5191C23.0881 26.2147 23.4358 25.1713 24.1314 23.7802C24.827 22.389 25.8704 20.6501 28.3049 20.9979C30.7395 21.3457 31.7828 20.9978 32.8262 22.0412C33.8695 23.0846 34.2174 26.9103 33.8696 29.3449C33.5218 31.7794 31.0873 33.5183 29.3483 33.8661C27.6094 34.2139 17.5234 34.5617 8.48086 25.5191C-0.561709 16.4766 -0.213927 6.39063 0.133864 4.65168C0.481654 2.91273 2.22061 0.478203 4.65514 0.130413C7.08967 -0.217378 10.9154 0.130468 11.9588 1.17384C13.0022 2.21721 12.6543 3.26053 13.0021 5.69506C13.3499 8.12959 11.611 9.17299 10.2198 9.86857C8.82866 10.5642 7.78529 10.9119 8.48087 13.6943Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 0.625rem 0.75rem;
}
