.connect {
  color: $color-textHeader;
  display: flex;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border-radius: 50%;
    flex: 0 0 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.625rem;
  }

  .dropdown__toggle {
    font-weight: 800;
  }
}
.connect__item {
  font-size: 1rem;
  margin-bottom: 0.875rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
  }
}
.connect__text {
  color: inherit;
  display: block;
  font-weight: bold;
  margin-bottom: 0.1875rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.connect__label,
.connect__descr {
  color: $color-text2;
  font-size: 0.8125rem;
}
.connect__label {
  font-weight: 600;
  margin-bottom: 0.1875rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.connect__descr {
  font-weight: normal;
  line-height: 1.15;
}
.addresses::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57146 1.5228C7.63356 0.552152 6.3808 0.0121605 5.04265 0.000160698H5.04132C3.70184 -0.0105058 2.44041 0.510153 1.48716 1.46547C-0.472697 3.42878 -0.498713 6.65006 1.42846 8.64536L4.46964 12.796C4.59438 12.9246 4.76515 12.998 4.94459 13C5.12403 13.0013 5.29614 12.9306 5.42222 12.8033L8.51343 8.70336C10.4726 6.73806 10.4986 3.51744 8.57146 1.5228ZM5 8C6.65685 8 8 6.65685 8 5C8 3.34315 6.65685 2 5 2C3.34315 2 2 3.34315 2 5C2 6.65685 3.34315 8 5 8Z' fill='white'/%3E%3C/svg%3E");
  background-size: 0.625rem 0.8125rem;
}
.phones::before {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48087 13.6943C9.03733 15.9201 11.9588 19.2589 13.3499 20.6501C14.7411 22.0412 18.0799 24.9627 20.3057 25.5191C23.0881 26.2147 23.4358 25.1713 24.1314 23.7802C24.827 22.389 25.8704 20.6501 28.3049 20.9979C30.7395 21.3457 31.7828 20.9978 32.8262 22.0412C33.8695 23.0846 34.2174 26.9103 33.8696 29.3449C33.5218 31.7794 31.0873 33.5183 29.3483 33.8661C27.6094 34.2139 17.5234 34.5617 8.48086 25.5191C-0.561709 16.4766 -0.213927 6.39063 0.133864 4.65168C0.481654 2.91273 2.22061 0.478203 4.65514 0.130413C7.08967 -0.217378 10.9154 0.130468 11.9588 1.17384C13.0022 2.21721 12.6543 3.26053 13.0021 5.69506C13.3499 8.12959 11.611 9.17299 10.2198 9.86857C8.82866 10.5642 7.78529 10.9119 8.48087 13.6943Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 0.625rem 0.75rem;
}
.phones .connect__text,
.phones .dropdown__toggle {
  white-space: nowrap;
}
.emails::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 2L6.28286 4.91439C6.10743 5.02854 5.89257 5.02854 5.71714 4.91439L2 2H10ZM10.2 0H1.8C0.8076 0 0 0.84125 0 1.875V8.125C0 9.15875 0.8076 10 1.8 10H10.2C11.1924 10 12 9.15875 12 8.125V1.875C12 0.84125 11.1924 0 10.2 0Z' fill='white'/%3E%3C/svg%3E");
  background-size: 0.75rem 0.625rem;
}
.messengers__list {
  @extend %fx-centered-y;
  flex-wrap: wrap;
}
.messengers__item {
  margin-bottom: 0.625rem;
  margin-right: 0.875rem;
}
.messengers__link {
  @extend %fx-centered;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  position: relative;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 55%;
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--tg {
    background-color: #419fd9;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.838128 6.19256L16.8012 0.0748741C17.5421 -0.191172 18.1892 0.254524 17.9491 1.36808L17.9505 1.36671L15.2325 14.0944C15.0311 14.9968 14.4916 15.2162 13.7369 14.7911L9.59781 11.759L7.60139 13.6706C7.38064 13.8901 7.19438 14.0752 6.76668 14.0752L7.06055 9.8884L14.7317 3.00001C15.0655 2.70791 14.6572 2.54334 14.217 2.83407L4.73715 8.76662L0.65049 7.49948C-0.236655 7.21972 -0.25597 6.61768 0.838128 6.19256Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      background-size: 1.125rem 0.9375rem;
      background-position: 45% 55%;
    }
  }
  &--viber {
    background-color: #675da9;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.9496 15.5995C6.9496 15.5995 4.87149 18.1908 4.22522 18.8635C4.01362 19.0821 3.78174 19.0619 3.78526 18.6281C3.78526 18.3433 3.80113 15.0872 3.80113 15.0872C-0.126271 13.9617 -0.0376239 9.83548 0.0128007 7.48835C0.0145953 7.40482 0.0163415 7.32354 0.0178565 7.24473C0.0619403 4.95061 0.481619 3.07176 1.71949 1.80655C4.57524 -0.871104 12.6311 -0.272445 14.6837 1.65666C16.9677 3.68143 16.4327 9.07005 16.3223 10.1828C16.3114 10.2926 16.3046 10.3607 16.3051 10.38C15.8407 14.2492 13.3298 14.8555 12.4262 15.0737C12.3263 15.0978 12.246 15.1172 12.1903 15.1357C11.9514 15.2151 9.73394 15.7855 6.9496 15.5995ZM8.09924 2.30998C7.75979 2.30998 7.75979 2.83899 8.09924 2.84339C10.7328 2.86367 12.9017 4.69932 12.9255 8.06645C12.9255 8.42176 13.4457 8.41736 13.4413 8.06204C13.4131 4.43394 11.044 2.33026 8.09924 2.30998ZM12.0792 7.5207C12.0748 7.87601 11.5555 7.85926 11.5634 7.50835C11.604 5.75646 10.5451 4.38457 8.53483 4.23204C8.19627 4.20736 8.23154 3.67394 8.57098 3.69863C10.8889 3.87232 12.1224 5.52017 12.0792 7.5207ZM11.008 9.78396C10.5725 9.5318 10.129 9.68874 9.94563 9.93649L9.5621 10.4329C9.36725 10.685 9.00312 10.6515 9.00312 10.6515C6.34574 9.94883 5.63511 7.16802 5.63511 7.16802C5.63511 7.16802 5.60249 6.79155 5.84583 6.58964L6.32546 6.19289C6.56528 6.00245 6.71693 5.54397 6.4727 5.09344C5.98075 4.2046 5.61061 3.75488 5.36266 3.45361C5.28177 3.35533 5.21387 3.27284 5.15901 3.19607C4.92448 2.90247 4.57181 2.83634 4.20503 3.03472H4.1971C3.43445 3.48085 2.5995 4.3158 2.86665 5.17543C2.94569 5.3326 3.03621 5.54938 3.14577 5.81177C3.66804 7.06256 4.623 9.3496 6.82978 11.1541C8.08441 12.1865 10.0699 13.2445 10.9128 13.4888L10.9208 13.5011C11.7513 13.778 12.5589 12.9104 12.9901 12.1248V12.1186C13.1814 11.7386 13.1179 11.3789 12.8384 11.1435C12.3429 10.6603 11.5952 10.1269 11.008 9.78396ZM10.2366 7.06751C10.1925 6.1585 9.78169 5.71589 8.9344 5.66652C8.59142 5.64624 8.62316 5.11283 8.96261 5.13311C10.0771 5.19482 10.696 5.85608 10.7524 7.04282C10.7683 7.39813 10.2525 7.42282 10.2366 7.06751Z' fill='%23fff'/%3E%3C/svg%3E");
      background-size: 1.125rem 1.125rem;
    }
  }
  &--whatsapp {
    background-color: #0dc143;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.9496 15.5995C6.9496 15.5995 4.87149 18.1908 4.22522 18.8635C4.01362 19.0821 3.78174 19.0619 3.78526 18.6281C3.78526 18.3433 3.80113 15.0872 3.80113 15.0872C-0.126271 13.9617 -0.0376239 9.83548 0.0128007 7.48835C0.0145953 7.40482 0.0163415 7.32354 0.0178565 7.24473C0.0619403 4.95061 0.481619 3.07176 1.71949 1.80655C4.57524 -0.871104 12.6311 -0.272445 14.6837 1.65666C16.9677 3.68143 16.4327 9.07005 16.3223 10.1828C16.3114 10.2926 16.3046 10.3607 16.3051 10.38C15.8407 14.2492 13.3298 14.8555 12.4262 15.0737C12.3263 15.0978 12.246 15.1172 12.1903 15.1357C11.9514 15.2151 9.73394 15.7855 6.9496 15.5995ZM8.09924 2.30998C7.75979 2.30998 7.75979 2.83899 8.09924 2.84339C10.7328 2.86367 12.9017 4.69932 12.9255 8.06645C12.9255 8.42176 13.4457 8.41736 13.4413 8.06204C13.4131 4.43394 11.044 2.33026 8.09924 2.30998ZM12.0792 7.5207C12.0748 7.87601 11.5555 7.85926 11.5634 7.50835C11.604 5.75646 10.5451 4.38457 8.53483 4.23204C8.19627 4.20736 8.23154 3.67394 8.57098 3.69863C10.8889 3.87232 12.1224 5.52017 12.0792 7.5207ZM11.008 9.78396C10.5725 9.5318 10.129 9.68874 9.94563 9.93649L9.5621 10.4329C9.36725 10.685 9.00312 10.6515 9.00312 10.6515C6.34574 9.94883 5.63511 7.16802 5.63511 7.16802C5.63511 7.16802 5.60249 6.79155 5.84583 6.58964L6.32546 6.19289C6.56528 6.00245 6.71693 5.54397 6.4727 5.09344C5.98075 4.2046 5.61061 3.75488 5.36266 3.45361C5.28177 3.35533 5.21387 3.27284 5.15901 3.19607C4.92448 2.90247 4.57181 2.83634 4.20503 3.03472H4.1971C3.43445 3.48085 2.5995 4.3158 2.86665 5.17543C2.94569 5.3326 3.03621 5.54938 3.14577 5.81177C3.66804 7.06256 4.623 9.3496 6.82978 11.1541C8.08441 12.1865 10.0699 13.2445 10.9128 13.4888L10.9208 13.5011C11.7513 13.778 12.5589 12.9104 12.9901 12.1248V12.1186C13.1814 11.7386 13.1179 11.3789 12.8384 11.1435C12.3429 10.6603 11.5952 10.1269 11.008 9.78396ZM10.2366 7.06751C10.1925 6.1585 9.78169 5.71589 8.9344 5.66652C8.59142 5.64624 8.62316 5.11283 8.96261 5.13311C10.0771 5.19482 10.696 5.85608 10.7524 7.04282C10.7683 7.39813 10.2525 7.42282 10.2366 7.06751Z' fill='white'/%3E%3C/svg%3E");
      background-size: 1.0625rem 1.1875rem;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
.messengers__text {
  display: none;
}
.socials__list {
  @extend %fx-centered-y;
  flex-wrap: wrap;
  color: $color-text2;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}
.socials__item {
  margin-bottom: 0.625rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.socials__link {
  @extend %fx-centered;
  background: $color-bg;
  border-radius: $brad-1;
  color: inherit;
  height: 2.25rem;
  width: 2.25rem;
}
@media (min-width: $break-md) {
  .socials__list {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .socials__item {
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
@media (min-width: $break-lg) {
  .connect::before {
    margin-right: 0.5rem;
  }
  .socials__link {
    height: 2rem;
    width: 2rem;
  }
  .messengers__item {
    margin-bottom: 0.5rem;
  }
  .messengers__link,
  .messengers__link::before {
    height: 2rem;
  }
}
@media (min-width: $break-xl) {
  .connect__item {
    margin-bottom: 1.125rem;
  }
  .connect__label {
    margin-bottom: 0.25rem;
  }
}
