.dropdown {
  position: relative;
}
.dropdown__body {
  display: none;
  background-color: #fff;
  border-radius: 0 0 $brad-2 $brad-2;
  box-shadow: (0px 2px 7px rgba(50, 52, 52, 0.25));
  max-width: 20rem;
  min-width: 100%;
  padding: 0.75rem 1.25rem 1.25rem;
  position: absolute;
  top: 100%;
  top: calc(100% + 0.75rem);
  left: 0;
  z-index: 20;

  .right > & {
    left: auto;
    right: 0;
  }

  .opened > & {
    display: block;
  }
}
.dropdown__toggle {
  @extend %fx-centered-y;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
  min-height: 2rem;
  padding: 0;
  text-align: left;

  &:hover {
    text-decoration: none;
  }
}
.dropdown__icon {
  @extend %fx-centered;
  height: 1rem;
  width: 1rem;
  margin-left: 0.25rem;
  position: relative;
  transition: transform 0.4s;
}
.opened > .dropdown__toggle .dropdown__icon {
  transform: rotate(-180deg);
}
