.fancybox-bg {
  background-color: #d8d8d8;
}
.fancybox-slide--html {
  padding: 1.25rem 0.625rem;
}
.fancybox-content {
  background-color: transparent;
  overflow: visible;
  padding: 0;
}
.fancy-arrow:disabled {
  display: none;
}
.fancy-close {
  @extend %fx-centered;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.fancy-close--content {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}
