// container
// rows, cols
// flex utils

// container
.wrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
  width: 100%;
  max-width: $cont-1;
}

// rows, cols
.cells {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
.cell {
  flex: 1 1 100%;
  max-width: 100%;
  padding-left: 9px;
  padding-right: 9px;
}
@for $i from 1 through $grid-cols {
  .cell-#{$i} {
    flex-basis: ($col-width * $i);
    max-width: ($col-width * $i);
  }
}
.cell-auto {
  flex-basis: auto;
}
@for $i from 1 through $grid-cols {
  .offset-cell-#{$i} {
    margin-left: ($col-width * $i);
  }
}
@media (min-width: $break-sm) {
  .cells {
    margin-left: -10px;
    margin-right: -10px;
  }
  .cell {
    padding-left: 10px;
    padding-right: 10px;
  }
  @for $i from 1 through $grid-cols {
    .cell-sm-#{$i} {
      flex-basis: ($col-width * $i);
      max-width: ($col-width * $i);
    }
  }
}
@media (min-width: $break-md) {
  .wrap {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  @for $i from 1 through $grid-cols {
    .cell-md-#{$i} {
      flex-basis: ($col-width * $i);
      max-width: ($col-width * $i);
    }
  }
  .cell-md-auto {
    flex-basis: auto;
  }
}
@media (min-width: $break-lg) {
  .wrap {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  .cells {
    margin-left: -$grid-gap;
    margin-right: -$grid-gap;
  }
  .cell {
    padding-left: $grid-gap;
    padding-right: $grid-gap;
  }
  @for $i from 1 through $grid-cols {
    .cell-lg-#{$i} {
      flex-basis: ($col-width * $i);
      max-width: ($col-width * $i);
    }
  }
}
@media (min-width: $break-xl) {
  @for $i from 1 through $grid-cols {
    .cell-xl-#{$i} {
      flex-basis: ($col-width * $i);
      max-width: ($col-width * $i);
    }
  }
}
@media (min-width: $break-desk) {
  .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
// flex utils
%fx-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
%fx-centered-y {
  display: flex;
  align-items: center;
}
.fx-column {
  flex-direction: column;
}
.fx-grow-1 {
  flex-grow: 1;
}
.fx-align-start {
  align-items: flex-start;
}
.fx-align-center {
  align-items: center;
}
.fx-justify-between {
  justify-content: space-between;
}
.fx-justify-center {
  justify-content: center;
}
.fx-justify-end {
  justify-content: flex-end;
}
.fx-wrap {
  flex-wrap: wrap;
}
