.tabs__switches {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tabs__switch {
  border-bottom: 2px solid transparent;
  color: inherit;
  display: block;
  font-weight: 600;
  margin-right: 1.5rem;
  padding-bottom: 0.25rem;
  text-align: center;

  &--active {
    border-bottom-color: currentColor;
  }
}
.tabs__panel {
  display: none;
}
.tabs__panel--active {
  display: block;
}
