.tabs {
  background: $color-bg;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding: 1.25rem;
}
.tab__nav {
  margin-bottom: 1.5rem;
}
.tab__nav__item {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.tab__nav__link {
  background: $color-text1;
  border-radius: $brad-1;
  color: #fff;
  display: block;
  font-weight: 800;
  line-height: 1.4;
  padding: 0.625rem 0.875rem;
  white-space: nowrap;

  &--current {
    pointer-events: none;
  }
}
.tab__panel {
  display: none;

  &--opened {
    display: block;
  }
}
