$font-family: "Manrope", "Helvetica", "Arial", sans-serif;

$color-textHeader: #262828;
$color-text1: #636565;
$color-text2: #9d9d9d;

$color-bg: #f2f2f2;
$color-sep: #e0e0e0;

$brad-1: 3px;
$brad-2: 4px;
$brad-3: 6px;

$shadow-1: 0px 2px 9px rgba(62, 65, 70, 0.25);
$shadow-2: 0px 1px 17px rgba(0, 0, 0, 0.18);

$grid-gap: 0.75rem;
$grid-cols: 12;
$col-width: 100% / 12;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;
$break-desk: 1448px;

$cont-1: 88.5rem;
